/* CollectionCard */

.CollectionCard {
  background: #eee;
  position: relative;
  height: 200px;
  @include mq(tablet) {
    height: 170px;
  }
}

.CollectionCard section {
  @include topAndTail;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: transparentize($highlightColor, 0.1);
  color: $textOnHighlightColor;
  @include mq(smartphone) {
    padding: 8px;
  }
}

.CollectionCard h3 {
  font-size: 12px;
  font-weight: 500;
}

.CollectionCard img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CollectionCard .collectionIndicator {
  position: absolute;
  top: 0;
  left: 0;
  background: $black;
  padding: 4px 6px;
  text-transform: uppercase;
  color: white;
  @include fontRubik;
  z-index: 1;
  font-size: 12px;
}