/* TrayHero */

.TrayHero {
  position: relative;
  margin: -22px -22px 20px !important;
  @include mq(tablet) {
    margin-top: 0 !important;
  }
}

.TrayHero img { // 3:2 ratio for image
  min-height: calc(50vw * 0.666666);
  @media screen and (min-width: 1680px) {
    min-height: calc(840px * 0.666666);
  }
  @include mq(tablet) {
    min-height: calc(100vw * 0.666666);
  }
}

.TrayHero iframe { // 16:9 ratio for videos
  width: 100% !important;
  min-height: calc(50vw * 0.5625);
  @media screen and (min-width: 1680px) {
    min-height: calc(840px * 0.5625);
  }
  @include mq(tablet) {
    min-height: calc(100vw * 0.5625);
  }
}

.TrayHero a {
  cursor: pointer;
}


.TrayHero span { // Gallery indicator
  position: absolute;
  bottom: 22px;
  right: 22px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  white-space: nowrap;
  @include fontRubik;
  background: #000000;
  padding: 4px 8px;
  transition: all .2s;
}

.TrayHero a:hover span { // Gallery indicator
  color: white;
}