/* TrayOverview */

.TrayOverview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: $trayBackground;
  transition: transform .2s .3s;
  max-width: 400px;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  @include topAndTail;
  @include mq(tablet) {
    display: none;
  }
}

:global(.darkMode) .TrayOverview {
  background: $trayBackgroundDarkMode;
}

.TrayOverview .content {
  padding: 15px 20px;
}

.TrayOverview h1 {
  @include headingLevel1b;
  margin-bottom: 0;
}

.TrayOverview .content section > ul {
  margin-top: 6px;
}

.TrayOverview .content section {
  display: flex;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 3px;
}

.TrayOverview .content section > span {
  text-transform: uppercase;
  color: $textColor;
}

.TrayOverview .content section > * {
  margin-right: 4px;
  color: #666;
}

// Functionality

.TrayOverview.isHidden {
  transition: transform .2s 0s;
  transform: translate3d(-100%, 0, 0);
}

.TrayOverview.isVisible {
  transition: transform .2s .3s;
  transform: translate3d(0, 0, 0);
}

.TrayOverview .openTrayButton {
  border: 0;
  cursor: pointer;
  @include icon('closeTray', 'before', $highlightColor);
  padding: 20px;
  background: $toolbarBackground;
  position: absolute;
  top: 0;
  left: 100%;
  transform: rotate(180deg);
  transition: all .1s;
  transition-delay: .5s;
  font-size: 24px;
  line-height: 0;
}

.TrayOverview .openTrayButton:hover {
  transition: all .2s;
  @include icon('closeTray', 'before', white);
}

:global(.darkMode) .TrayOverview .openTrayButton {
  background: $toolbarBackgroundDarkMode;
}

.TrayOverview .openTrayButton span {
  display: none;
}