/* Tray */

.Tray {
  width: 50%;
  height: 100%;
  max-width: 840px;
  background: $trayBackground;

  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  transition: all .4s cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  @include fontPlex;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.3);
  @media screen and (min-width: 1680px) {
    width: 840px;
  }
  @include mq(tablet) {
    background: transparent;
    max-width: none;
    width: 100%;
    height: auto;
    position: relative;
    pointer-events: none;
    //background: lightgoldenrodyellow;
  }
}

:global(.darkMode) .Tray {
  background: $trayBackgroundDarkMode;
}

.Tray .introParagraph {
  @include paragraphLargeSerif;
  color: red;
}

.Tray h1,
.Tray h2,
.Tray h3,
.Tray h4,
.Tray h5,
.Tray h6 {
  @include fontRubik;
}

.Tray h1 {
  @include headingLevel1;
}

.Tray h2 {
  @include headingLevel2;
  margin-top: 26px;
}

:global(.darkMode) .Tray h2 {
  color: #A4A4A4;
}

.Tray.isClosed {
  transform: translate3d(calc(-100% - 10px), 0, 0);
}