/* TrayContent */

.TrayContent {
  padding: 22px;
  padding-bottom: 0;
  overflow: auto;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  transition:height .2s;
  @include mq(tablet) {
    overflow: visible;
    flex-grow: 0;
    height: auto;
    min-height:calc(100vh - 64px - 20px);
  }
  @include mq(smartphone) {
    padding-top: 25px;
  }
}

*[class*='Toolbar']:hover + div .TrayContent {
  height: calc(100vh - 76px);
  @include mq(tablet) {
    height: auto;
    min-height:calc(100vh - 64px - 20px);
  }
}

.TrayContent > * {
  margin-bottom: $trayChildSpacing;
}

.TrayContent > section {
  margin-top: 1.5em;
}

.TrayContent > section:first-child {
  margin-top: 0;
}


.Tray .trayContent > div:first-child + * {
  margin-top: 0;
}