/* TrayArticle */

.TrayArticle {
  @include topAndTail;
}

.TrayArticle[class*="centred"] {
  margin-left: 10%;
  margin-right: 10%;
  @include mq(smartphone) {
    margin-left: 0;
    margin-right: 0;
  }
}

.TrayArticle p {
  max-width: 90%;
}

.TrayArticle[class*="centred"] p {
  max-width: none;
}