/* IntroductionIndex */

.IntroductionIndex {
  @include mq(tablet) {
    @include routerChildrenTrayStylesMobile;
  }
}

.IntroductionIndex > section {
  margin-top: 4px !important;
  margin-bottom: 40px !important;
}

.IntroductionIndex p {
  max-width: 90%;
}