/* Quickstart */

.Quickstart {
  margin-bottom: 10px;
}

.Quickstart a {
  display: flex;
  flex-direction: row-reverse;
  background: $highlightColorLightBackground;
  color: $highlightColorText;
  transition:all .2s;
}

.Quickstart a:hover {
  background: darken($highlightColorLightBackground, 5%);
}

.Quickstart h3 {
  font-size: 26px;
  margin-bottom: 14px;
  font-weight: 300;
  line-height: 1.25;
  word-spacing: -1.5px;
}

.Quickstart .image {
  flex: 0 0 33.333333%;
  position: relative;
}

.Quickstart .image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(small-smartphone) {
    top: 15px;
    right: 15px;
    left: auto;
    width: 100px;
    height: 100px;
  }
}

.Quickstart .textContent {
  padding: 15px 17px 17px 17px;
  font-size: 13px;
  @include topAndTail;
  flex-grow: 1;
}

.Quickstart p {
  max-width: none !important;
}