/* CategoryListItem */

.CategoryListItem {
  display: inline-block;
  margin-right: 4px;
}

.CategoryListItem a {
  padding: 12px 20px;
  background: $highlightColorLightBackground;
  color: $highlightColorText;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
  margin-bottom: 4px;
  transition: all .3s;
  @include fontRubik;
}

:global(.darkMode) .CategoryListItem a {
  background: #4A4A4A;
}

.CategoryListItem a:hover {
  background: $highlightColor;
  color: white;
}

:global(.darkMode) .CategoryListItem a:hover {
  background: lighten(#4A4A4A, 10%);
}