/* CloseButton */

.CloseButton {
  float: right;
  text-transform: uppercase;
  margin-top: 0 !important;
  margin-left: auto;
}

.CloseButton a {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
  @include fontRubik;
  color: white;
  @include icon('closeTrayContent', 'after', #ffffff);
  transition: all .2s;
  @include mq(tablet) {
    @include icon('closeTrayContent', 'after', $textColor);
    color:$textColor;
  }
}

:global(.darkMode) .CloseButton a {
  color: $textColorDarkMode;
}

.CloseButton a:hover {
  opacity: 0.6;
}

.CloseButton a:after {
  margin-left: 4px;
  width: 0.7em;
  height: 0.7em;
  transition: all .2s;
  background-size: 0.8em;
}

.CloseButton + * {
  margin-top: 0;
}