/* ColorPicker */

.ColorPicker .mode {
  width: 600px;
  float: left;
  padding: 60px;
  background: $trayBackground;
  margin: 20px;
}

.ColorPicker .input {
  padding:60px;
  display:flex;
}
.ColorPicker .mode h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.ColorPicker .block div {
  padding:15px;
  color: white;
  @include topAndTail;
}

.ColorPicker .block div h1 {
  color: white;
}

.ColorPicker .modeDark {
  background:$trayBackgroundDarkMode;
  color:white;
}


.ColorPicker ul {
  @include unlist;
  margin-bottom: 50px;
}

.ColorPicker .buttons {
  display: flex;
}

.ColorPicker .buttons li {
  padding: 30px;
}

.ColorPicker .buttons li:nth-child(1) {
  padding: 30px;
  background: white;
}

.ColorPicker .buttons li:nth-child(2) {
  padding: 30px;
}

.ColorPicker .buttons li:nth-child(3) {
  padding: 30px;
  background: black;
}

.ColorPicker .buttons li:nth-child(3) button {
  background: #151515;
}


.ColorPicker .buttons button {
  padding: 10px;
  border: 0;
  //background: $highlightColor;
}

.ColorPicker .records li {
  display: flex;
}

.ColorPicker .records li > div {
  width: calc(50% - 10px);
  margin-right: 10px;
}

.ColorPicker .currentColor {
padding:1px;
}