/* ContentOptions */

.ContentOptions {
  display: flex;
  float: right;
  margin-top: 10px !important;
  @include mq(smartphone) {
    float: none;
  }
}

.ContentOptions label + label {
  margin-left: 10px;
}