/* HierarchicalTermSelector */

.HierarchicalTermSelector {
  display: inline-block;
  margin-bottom: 20px;
}

:global(.darkMode) .HierarchicalTermSelector a {
  background: #4A4A4A;
}

:global(.darkMode) .HierarchicalTermSelector a:hover {
  background: lighten(#4A4A4A, 10%);
}