/* HierarchicalTermSelector */

.HierarchicalTermSelectorItem {
  background: $highlightColorLightBackground;
  color: $highlightColorText;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  border-radius: 100px;
  margin-bottom: 4px;
  transition: all .3s;
  @include fontRubik;
  position: relative;
  margin-right: 4px;
}

.HierarchicalTermSelectorItem:hover {
  background: darken($highlightColorLightBackground, 10%);
}

.HierarchicalTermSelectorItem > label {
  padding: 12px 10px 12px 15px;
}

.HierarchicalTermSelectorItem .refineButton {
  background: transparent;
  border: 0;
  padding: 12px 20px 11px 0;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0.8;
  outline: 0;
  cursor: pointer;
  color: $highlightColorText;
}

.HierarchicalTermSelectorItem .refineButton:hover {
  opacity: 0.5;
}

.HierarchicalTermSelectorItem .childTerms {
  position: absolute;
  width: calc(100% + 30px);
  top: 100%;
  left: 50%;
  margin-left: calc((-50% - 15px));
  margin-top: 5px;
  background: white;
  padding: 22px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.HierarchicalTermSelectorItem .childTerms:before {
  content:"";
  border:15px solid transparent;
  border-width: 0 15px 15px 15px;
  border-bottom-color: white;
  position:absolute;
  top:-15px;
  left:50%;
  margin-left:-10px;
}

.HierarchicalTermSelectorItem .childTerm + .childTerm {
  margin-top: 8px;
}