/* HumapFooter */

.HumapFooter.HumapFooter.HumapFooter {
  margin: auto -22px 0;
  //border-top: 22px solid white;
  text-align: center;
  font-size: 14px;
  @include fontRubik;
}

.HumapFooter.HumapFooter a {
  color: #666666;
  padding: $basePadding * 2 $basePadding;
  background: $black;
  display: block;
  transition: all .1s;
}

.HumapFooter.HumapFooter a:hover {
  color: #a8a8a8;
}

.HumapFooter b {
  display: none;
}

.HumapFooter.HumapFooter img {
  opacity: 0.3;
  width: 70px;
  margin-left: 4px;
  margin-top: 0;
  margin-right: 7px;
  transition: all .1s;
}

.HumapFooter.HumapFooter a:hover img {
  opacity: 0.6;
}