/* Item card */

// Grid layout is default
$layoutList: '*[class*="RecordsList"][class*="--list"]';

.ItemCard {
  position: relative;
}

.ItemCard a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 200px;
  transition: all .2s;
  background: black;
  @include mq(tablet) {
    height: 170px;
  }
}

.ItemCard section {
  @include topAndTail;
  padding: 15px;
  background: transparentize($highlightColor, 0.1);
  color: $textOnHighlightColor;
  z-index: 1;
  transition: all .2s;
  @include mq(smartphone) {
    padding: 8px;
  }
}

.ItemCard a:hover section {
  background: transparentize(lighten($highlightColor, 5%), 0.1);
}

*[class*='MapPopover'] .ItemCard section {
  width: 100%;
}

.ItemCard h3 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  word-spacing: 0px;
}

.ItemCard img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s;
}

.ItemCard a:hover img {
  opacity: 0.9;
}

.ItemCard .imageSubstitute {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 33px;
  line-height: 1.07;
  font-style: italic;
  font-weight: 200;
  padding: 35px 15px;
  background-color: $highlightColorLightBackground;
  color: transparentize($highlightColor, 0.6);
  overflow: hidden;
}

.ItemCard:nth-child(5n+1) .imageSubstitute {
  background-color: adjust-hue($highlightColorLightBackground, -30);
}

.ItemCard:nth-child(5n+2) .imageSubstitute {
  background-color: adjust-hue($highlightColorLightBackground, 0);
}

.ItemCard:nth-child(5n+3) .imageSubstitute {
  background-color: adjust-hue($highlightColorLightBackground, -15);
}

.ItemCard:nth-child(5n+4) .imageSubstitute {
  background-color: adjust-hue($highlightColorLightBackground, 30);
}

.ItemCard:nth-child(5n+5) .imageSubstitute {
  background-color: adjust-hue($highlightColorLightBackground, 15);
}

.ItemCard .imageSubstitute span {
  width: 150%;
  display: block;
}

.ItemCard .description {
  display: none;
}

.ItemCard .typeIndicator {
  background: $black;
  //padding: ($basePadding / 2) $basePadding;
  padding: 4px 6px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  @include smallCapsApp;
  @include fontRubik;
  font-weight: 400;
}

.ItemCard .trailOrdinalPosition {
  position: absolute;
  top: -7px;
  right: 6px;
  background: $highlightColor;
  color: white;
  border: 3px solid white;
  border-radius: 100px;
  z-index: 1;
  @include fontRubik;
  font-size: 14px;
  font-weight: 500;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


//List mode styles for record card


#{$layoutList} .ItemCard {
  position: relative;
  padding-bottom: 15px;
  opacity: 1;
  border-bottom: 1px solid #e2e2e2;
  background: transparent;
  height: auto;
  @include mq(tablet) {
    height: 170px;
  }
}

#{$layoutList} .ItemCard a {
  flex-direction: row-reverse;
  color: $textColor;
  height: auto;
  justify-content: normal;
  align-items: normal;
}

#{$layoutList} .ItemCard img {
  position: static;
  height: auto;
}

#{$layoutList} .ItemCard section {
  @include topAndTail;
  padding: 0 15px 0 0;
  position: static;
  background: transparent;
  color: $textColor;
  flex-grow: 1;
}

#{$layoutList} .ItemCard h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 200;
}

#{$layoutList} .ItemCard .description {
  font-size: 14px;
  margin-top: 7px;
  @include topAndTail;
  display: block;
}

#{$layoutList} .ItemCard h3 {
  color: $highlightColor;
  margin-bottom: 7px;
  line-height: 1.27;
}

#{$layoutList} .ItemCard img {
  flex: 0 0 200px;
  max-width: 200px;
  object-fit: cover;
}

#{$layoutList} .ItemCard .typeIndicator {
  opacity: 0.5;
  @include fontRubik;
  @include smallCapsApp;
  font-weight: 400;
  background: transparent;
  padding: 0;
  position: static;
  color: $textColor;
}