/* LoadButton */

.LoadButton {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

.LoadButton button {
  padding: 12px 20px;
  background: $toolbarBackground;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 4px;
  border: 0;
  cursor: pointer;
  border-radius: 100px;
  @include smallCapsApp;
  @include fontRubik;
  transition: all .2s;
}

.LoadButton button:hover {
  background: lighten($toolbarBackground, 10%);
}