/* LocationBar */

.LocationBar {
  display: flex;
  flex: 0 0 auto;
  margin: -22px -22px 22px -22px !important;
  @include fontRubik;
  padding: 6px 22px;
  background: black;
  font-size: 14px;
  color: #cacaca;
  @include mq(tablet) {
    margin-top: 0 !important;
    color: $textColor;
    background: transparent;
    padding: 0 22px;
    margin-bottom: 14px;
  }
}

.LocationBar .title {
  text-transform: uppercase;
  margin-right: 5px;
}

.LocationBar *[class*='Metadata'] {
  color: #666;
}