/* MediaList */

.MediaList ul {
  @include unlist;
  display: flex;
  flex-flow: row wrap;
  margin-left: -22px;
  margin-right: -22px;

}

.MediaList li {
  flex: 0 0 50%;
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.MediaList li a {
  display: block;
  width: 100%;
  height: 100%;
}

.MediaList img {
  display: inline-block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  @include mq(wide) {
    height: 300px;
  }
}