/* MediaGalleryItem */

.MediaGalleryItem {
  scroll-snap-align: start;
  padding: 30px;
  display: flex;
  max-height: calc(100vh - 64px);
  @include mq(tablet) {
    flex-direction: column-reverse;
    max-height: none;
  }
  @include mq(smartphone) {
    padding: 15px;
  }
}

.MediaGalleryItem + .MediaGalleryItem {
  border-top: 1px solid #2b2b2b;
}

.MediaGalleryItem .sidebar {
  flex: 0 0 260px;
  @include topAndTail;
  font-size: 14px;
  position: relative;
  @include mq(tablet) {
    flex: 0 0 auto;
  }
}

.MediaGalleryItem .pane {
  padding-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  @include mq(tablet) {
    padding-right: 0;
    padding-top: 20px;
    position: static;
  }
}

.MediaGalleryItem .caption {
  margin-bottom: 30px;
  @include fontPlex;
}

.MediaGalleryItem .attribution {
  opacity: 0.4;
  padding-bottom: 40px;
  font-size: 12px;
  @include mq(tablet) {
    padding-bottom: 0;
  }
}

.MediaGalleryItem .item img {
  max-height: 100%;
  max-width: 100%;
}