/* MediaGallery */

.MediaGallery {
  color: white;
  height: calc(100% - 64px);
  margin-top: 64px;
  overflow-x: auto;
  scroll-snap-type: y mandatory;
  @include mq(tablet) {
    scroll-snap-type: none;
  }
}

.MediaGallery .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 64px;
  padding: 0 15px 0 30px;
  align-items: center;
  justify-content: space-between;
  background: black;
  @include mq(smartphone) {
    padding: 0 0 0 20px;
  }
}

.MediaGallery .title {
  @include topAndTail;
  color: $highlightColor;
  min-width: 0;
  flex-shrink: 1;
  flex-grow: 1;
  @include mq(smartphone) {
    display: none;
  }
}

.MediaGallery h1 {
  @include headingLevel2;
  font-size: 1em;
  font-weight: 500;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MediaGallery h1 span {
  color: white;
  margin-right: 16px;
}

.MediaGallery .controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.MediaGallery .controls .count {
  flex-shrink: 0;
  margin-right: 18px;
  @include mq(small-smartphone) {
    font-size: 14px;
  }
}

.MediaGallery .controls .count span {
  @include mq(small-smartphone) {
    display: none;
  }
}

.MediaGallery .controls button {
  padding: 7px;
  text-align: center;
  height: 34px;
  width: 34px;
  color: white;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 100px;
  margin: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.MediaGallery .controls button + button {
  margin-left: 2px;
}

.MediaGallery .controls button svg {
  font-size: 0.8em;
}

.MediaGallery .controls button:hover {
  background: lighten(#151515, 3%);
}

.MediaGallery .close {
  background: transparent;
  border: 0;
  @include smallCapsApp;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
  color: white;
  cursor: pointer;
  transition: all .2s;
  padding: 15px;
  flex-shrink: 0;
  @include icon('closeTrayContent', 'after', #ffffff);
  outline:0;

  &:after {
    margin-left: 4px;
    width: 0.7em;
    height: 0.7em;
    transition: all .2s;
    background-size: 0.8em;
  }
}

.MediaGallery .close:hover {
  opacity: 1;
}

.MediaGallery .close span {
  @include mq(small-smartphone) {
    display: none;
  }
}

div[class*="StyledLayer__StyledOverlay"] {
  position: absolute !important;
  background: rgba(0, 0, 0, 0.9);
  color: #EEEEEE;
}