/* ShareButtons */

.ShareButtons {
  float: right;
}

.ShareButtons ul {
  @include unlist;
  display: flex;
  font-size: 14px;
}

.ShareButtons a {
  padding: 7px;
  background: #333;
  color: white;
  display: inline-block;
  margin-right: 3px;
  line-height: 0;
  border-radius: 140px;
  margin-left: 4px;
  width: 28px;
  text-align: center;
  transition: all .2s;
}

.ShareButtons span {
  display: none;
}

.ShareButtons .facebook a {
  background: #3b5998;
}

.ShareButtons .facebook a:hover {
  background: darken(#3b5998, 10%);
}

.ShareButtons .twitter a {
  background: #1ea1f1;
}

.ShareButtons .twitter a:hover {
  background: darken(#1ea1f1, 10%);
}

.ShareButtons .instagram a {
  background: #d92c7d;
}

.ShareButtons .instagram a:hover {
  background: darken(#d92c7d, 10%);
}

.ShareButtons .email a {
  background: #d92c3c;
}

.ShareButtons .email a:hover {
  background: darken(#d92c3c, 10%);
}