/* TermListItem */

.TermListItem a {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  background: $highlightColorLightBackground;
  color: $highlightColorText;
  @include fontRubik;
  transition: all .2s;
  border-radius: 100px;
}

:global(.darkMode) .TermListItem a {
  color: $textColorDarkMode;
  background: #4A4A4A;
}

.TermListItem a:hover {
  background: $highlightColor;
  color: white;
}

:global(.darkMode) .TermListItem a:hover {
  background: $highlightColor;
  color: white;
}