/* HelpIndex */

.HelpIndex {
  @include mq(tablet) {
    @include routerChildrenTrayStylesMobile;
  }
}

.HelpIndex > section {
  margin-top: 4px !important;
  margin-bottom: 40px !important;
}

.HelpIndex p {
  max-width: 90%;
}