/* Carousel */

.Carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #737373;
}

.Carousel .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.Carousel .slide img {
  width:100%;
  height:100%;
  object-fit:cover;
}