/* ContentAreaWithSidebar */

.ContentAreaWithSidebar {
  display: flex;
  padding-top: $baseSpacing;
  padding-bottom: $baseSpacing;
  @include mq(tablet) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include mq(smartphone) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.ContentAreaWithSidebar .contentArea {
  width: 70%;
  padding-right: 10%;
  @include mq(tablet) {
    padding-right: 6%;
  }
  @include mq(smartphone) {
    padding-right: 0;
    width: auto;
  }
}

.ContentAreaWithSidebar .sidebar {
  width: 30%;
  @include mq(smartphone) {
    width: auto;
  }
}

.ContentAreaWithSidebar .sidebar:empty {
  display: none;
}

.ContentAreaWithSidebar .sidebar > * + * {
  margin-top: 40px;
  @include mq(tablet) {
    margin-top: 20px;
  }
  @include mq(smartphone) {
    margin-top: 15px;
  }
}