/* EmailSignup */

.EmailSignup {
  @include topAndTail;
}

.EmailSignup form {
  display: flex;
}

.EmailSignup input {
  //Overriding Grommet here
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px 0 0 10px;
  border: 0;
  position: relative;
}

.EmailSignup input:focus,
.EmailSignup button:focus {
  outline: 0;
  border: 0;
  box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.2);
  //outline:10px solid rgba(255, 255, 255, 0.2);
}

.EmailSignup {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
  }
}

.EmailSignup input[type="submit"],
.EmailSignup button {
  padding: 0 30px;
  background: rgba(0, 0, 0, 0.075);
  border-radius: 0 10px 10px 0;
  border: 0;
}

.EmailSignup input[type="submit"]:hover,
.EmailSignup button:hover {
  box-shadow: none !important;
}