/* FeatureDemo */

.FeatureDemo {
  color: white;
  margin-left: -80px;
  margin-right: -80px;
  background: $toolbarBackground;
  position: relative;
  @include mq(tablet) {
    margin-left: -40px;
    margin-right: -40px;
  }
  @include mq(smartphone) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.FeatureDemo .feature {
  display: flex;
  min-height:50vw;
  @media screen and (min-width:1521px) {
    min-height:760px;
  }
  @include mq(smartphone) {
    flex-direction: column;
  }
}


/*
.FeatureDemo .feature > div {
!*  width: 100%;
  background-size: cover;
  background-position: center;*!
}

.FeatureDemo .feature > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FeatureDemo .feature p {
  width: 25%;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}*/

.FeatureDemo .image {
  width: 50%;
  background: #333;
  position: relative;
  @include mq(smartphone) {
    width: auto;
    padding-bottom: 0;
  }
}

.FeatureDemo .image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  @include mq(smartphone) {
    position: static;
    height: 300px;
  }
}

.FeatureDemo .icon {
  width: 70px;
  height: 70px;
  margin-bottom: 50px;
  @include mq(tablet) {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
  }
}

.FeatureDemo .textContent {
  width: 50%;
  background: $toolbarBackground;
  padding: 70px 60px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  @include mq(tablet) {
    padding: 40px;
  }
  @include mq(smartphone) {
    width: auto;
    max-width: none;
    padding: 30px 15px;
  }
}

.FeatureDemo h2 {
  margin-top: 0;
}

.FeatureDemo .description {
  @include topAndTail;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.6;
  @include mq(wide) {
    font-size: 17.4px;
  }
  @include mq(tablet) {
    font-size: 13px;
  }
}

.FeatureDemo .textContent > a {
  align-self: flex-start;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 23px;
  color: $highlightColor;
  text-decoration: none;
  @include fontRubik;
  display: inline-block;
  margin-top: auto;
  @include mq(smartphone) {
    margin-top: 1em;
  }
}

.FeatureDemo :global(.indicators) {
  position: absolute;
  top: 70px;
  right: 60px;
  z-index: 1;
  margin-top: 0 !important;
  @include mq(tablet) {
    top: 40px;
    right: 40px;
  }
  @include mq(smartphone) {
    top: 330px;
    right: 15px;
  }
}

.FeatureDemo :global(.indicator) {
  width: 8px;
  height: 8px;
  opacity: 0.3;
  background: white;
  border-radius: 100px;
  margin-left: 8px;
  transition: all .2s;
}

.FeatureDemo :global(.indicator.active) {
  opacity: 1;
}

.FeatureDemo :global(.indicator) span {
  display: none;
}