/* HeroHome */

.HeroHome {
  height: 77vh;
  min-height: 630px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include fontRubik;
  margin-left: -80px;
  margin-right: -80px;
  @include mq(tablet) {
    height: 500px;
    min-height: 0;
    margin-left: -30px;
    margin-right: -30px;
  }
  @include mq(smartphone) {
    height: 400px;
    min-height: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.HeroHome .textContent {
  padding: 50px 50px 50px 80px;
  color: white;
  background: transparentize($highlightColor, 0.1);
  position: relative;
  @include topAndTail;
  width: 50%;
  z-index: 1;
  @include mq(tablet) {
    padding: 25px;
  }
  @include mq(smartphone) {
    width: auto;
    max-width: 80%;
    padding: 15px;
  }
}

/*.HeroHome .textContent:after {
  background: $light-gray;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100px;
  right: 100%;
}*/

.HeroHome h1 {
  @include smallCaps;
  @include mq(tablet) {
    font-size: 0.85em;
  }
}

.HeroHome p {
  font-size: 38px;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 0;
  @include mq(tablet) {
    font-size: 1.8em;
  }
  @include mq(smartphone) {
    font-size: 1.5rem;
  }
}