/* HeroContent */

.HeroContent {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include fontRubik;
  margin-left: -80px;
  margin-right: -80px;
  @include mq(tablet) {
    height: 500px;
  }
  @include mq(tablet) {
    margin-left: -30px;
    margin-right: -30px;
  }
  @include mq(smartphone) {
    height: 400px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

/*
.HeroContent:after {
  content: "";
  position: absolute;

  top: 100%;
  right: -100px;
  bottom: -100px;
  left: -100px;

  height: 50px;
  background: $light-gray;
  @include mq(tablet) {
    height: 30px;
  }
  @include mq(smartphone) {
    height: 15px;
  }
}
*/

.HeroContent img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: none;
}

.HeroContent .textContent {
  padding: 50px 50px 50px 80px;
  color: white;
  background: transparentize($highlightColor, 0.1);
  position: relative;
  @include topAndTail;
  width: 50%;
  @include mq(tablet) {
    padding: 25px 25px 25px 30px;
  }
  @include mq(smartphone) {
    width: auto;
    padding: 15px;
    max-width: 80%;
  }
}

.HeroContent h1 {
  @include smallCaps;
  @include mq(tablet) {
    font-size: 0.85em;
  }
}

.HeroContent p {
  font-size: 38px;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 0;
  @include mq(tablet) {
    font-size: 1.8em;
  }
  @include mq(smartphone) {
    font-size: 1.5em;
  }
}