/* HighlightedContent */

.HighlightedContent {
  padding-top: $baseSpacing;
  padding-bottom: $baseSpacing;
  @include popOut;
  background: $light-gray;
  @include mq(tablet) {
    padding-top: 70px;
    padding-bottom: 70px; //$baseSpacingTablet?
  }
  @include mq(smartphone) {
    padding-top: 50px;
    padding-bottom: 50px; //$baseSpacingTablet?
  }
}

div[class*="ContentAreaWithSidebar"] + .HighlightedContent {
  background: $light-gray;
}

.HighlightedContent .textContent {
  max-width: 50%;
  @include topAndTail;
  padding-bottom: $baseSpacing;
  @include mq(tablet) {
    padding-bottom: 70px;
  }
  @include mq(smartphone) {
    max-width: none;
    padding-bottom: 50px;
  }
}

.HighlightedContent .contentItems {
  @include grid(3, 40px, 80px);
  @include mq(tablet) {
    @include grid(2, 30px, 60px);
  }
  @include mq(smartphone) {
    @include grid(1, 0, 30px);
  }
}