/* HomeIntroduction */

.HomeIntroduction {
  background: $light-gray;
  @include popOut;
  display: flex;
  @include mq(smartphone) {
    display: block;
  }
}

.HomeIntroduction .textContent {
  padding-top: $baseSpacing;
  padding-bottom: $baseSpacing;
  padding-right: 100px;
  @include topAndTail;
  width: 50%;
  @include mq(tablet) {
    padding-top: 50px;
    padding-bottom: 50px; //$baseSpacingTablet??
    padding-right: 50px;
  }
  @include mq(smartphone) {
    width: auto;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.HomeIntroduction .textContent {
  font-size: 26px;
  @include fontRubik;
  font-weight: 200;
  line-height: 1.5;
  @include mq(tablet) {
    font-size: 1.2rem;
  }
  @include mq(smartphone) {
    font-size: 1.3rem;
  }
}

.HomeIntroduction .textContent div > br:first-child {
  display: none;
}