/* Logo */

.Logo {
  max-height: 50px;
  height: 50px;
  width: 152px;
  display: flex;
  align-items: center;
  @include mq(tablet) {
    min-width: 120px;
  }
}

.Logo img {
  max-height: 100%;
  width: auto;
}

.Logo a {
  transition: all .2s;
}

.Logo a:hover {
  opacity: 0.8;
}