/* MainFooter */

.MainFooter {
  background: $highlightColor;
  color: white;
  @include popOut;
  padding-top: $baseSpacing;
  padding-bottom: $baseSpacing + 100px;
  display: flex;
  @include fontRubik;
  @include mq(tablet) {
    padding-top: 70px;
    padding-bottom: 70px + 50px;
  }
  @include mq(smartphone) {
    flex-flow: column nowrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.MainFooter a {
  color: white;
  transition:all .2s;
}

.MainFooter a:hover {
  opacity:0.8;
}

.MainFooter > div {
  width: 50%;
  @include mq(smartphone) {
    width: auto;
  }
}

.MainFooter .contactDetails {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  @include topAndTail;
  @include mq(smartphone) {
    margin-bottom: 50px;
  }
}

.MainFooter .contactDetails a {
  font-size: 26px;
  @include mq(smartphone) {
    font-size: 19px;
  }
}

.MainFooter .contactDetails h2 {
  margin-bottom: 0.55em;
}

.MainFooter .socialLinks {
  @include unlist;
  display: flex;

}

.MainFooter .socialLinks a {
  font-size: 36px;
  @include mq(smartphone) {
    font-size: 28px;
  }
}


.MainFooter .socialLinks li + li {
  margin-left: 14px;
}

.MainFooter .socialLinks span {
  display: none;
}

.MainFooter {

}