/* Navigation */

.Navigation {
  display: flex;
  margin-left: auto;
  align-items: center;
  @include fontRubik;
}

.Navigation ul {
  @include unlist;
  display: flex;
  align-items: center;
  //padding: 7px 16px;
}

.Navigation li + li {
  margin-left: 15px;
}

.Navigation a {
  color: $textColor;
  text-decoration: none;
  white-space: nowrap;
  transition: all .2s;
}

.Navigation ul a {
  display: inline-block;
  border-bottom:0 solid transparent;
}

.Navigation ul a:hover {
  color: $highlightColor;
  border-bottom:6px solid transparent;
}

.Navigation .highlightedLink {
  margin-left: 35px;
  border: 3px solid $highlightColor;
  border-radius: 100px;
  padding: 8px 20px;
  @include icon('markerSolid');
  @include mq(tablet) {
    margin-left: 4px;
    padding: 6px 13px;
  }
}

.Navigation .highlightedLink:hover {
  background: $highlightColor;
  color: white;
  @include icon('markerSolid', 'before', white);
}

.Navigation .highlightedLink:before {
  position: relative;
  top: 3px;
  margin-right: 10px;
  transition: all .2s;
}

/* Mobile navigation */

.NavigationMobile {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20vh 0 0 0;
  margin: 0;
  overflow: auto;
  height: 100%;
  max-height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  font-size: 44px;
  @include fontRubik;

  @include mq(tablet) {
    font-size: 40px;
  }
  @include mq(smartphone) {
    font-size: 32px;
  }
  @include mq(small-smartphone) {
    font-size: 24px;
  }
}

.NavigationMobile {
  transition: opacity .4s, visibility 0s .4s, z-index 0s .4s;
  visibility: hidden;
  z-index: -100;
  opacity: 0;
}

.NavigationMobile.isActive {
  transition: opacity .4s, visibility 0s 0s, z-index 0s 0s;
  visibility: visible;
  z-index: 300;
  opacity: 1;
}

body.has-mobile-menu-open {
  overflow: hidden;
}

// Site navigation

.NavigationMobile a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.NavigationMobile ul {
  @include unlist;
}


.NavigationMobile li {
  margin-bottom:1rem;
}

/*
.NavigationMobile .site-navigation {
  @include unlist;
}

.NavigationMobile .site-navigation a:hover {
  opacity: 0.8;
}

.NavigationMobile .site-navigation ul {
  @include unlist;
}

.NavigationMobile .site-navigation li a span {
  margin-left: 9px;
  background: transparent !important;
}

.NavigationMobile .site-navigation li {
  text-align: center;
  display: block;
  margin: 0;
}

.NavigationMobile .site-navigation li.is-current a span {
  padding: 3px 4px 4px;
}

.NavigationMobile .site-navigation > li > ul {
  display: none;
  margin: 0;
  margin-top: -7px;
  margin-bottom: 7px;
  padding: 0 20px;
}

.NavigationMobile .site-navigation > li > ul > li {
  display: inline;
  margin: 0 6px;
}

.NavigationMobile .site-navigation > li > ul > li > a {
  padding: 6px 0 0;
  color: $yellow;
  font-size: 15px;
}

.NavigationMobile .site-navigation > li > ul > li > ul {
  padding: 0;
}*/

.NavigationMobile .highlightedLink {
  border: 3px solid $highlightColor;
  border-radius: 100px;
  padding: 8px 28px 8px 20px;
  @include icon('markerSolid');
  margin-top: 10px;
}

.NavigationMobile .highlightedLink:before {
  position: relative;
  top: 7px;
  margin-right: 10px;
}

// Some of this stuff relates to second level nav items - needs refactoring (or removing)
.sub-menu-action {
  text-align: center;
  background: purple;
  color: $yellow;
  padding: 8px 5px;
  height: 22px;
  width: 22px;
  border-radius: 24px;
  line-height: 0.3;
  position: absolute;
  left: 100%;
  margin-left: 7px;
  top: 8px;
  display: inline;
  font-size: 20px;
}

.sub-menu-action-close {
  display: none;
}

.is-showing-children .sub-menu-action-close {
  display: inline;
}

.is-showing-children .sub-menu-action-open {
  display: none;
}


// Actions

.NavigationMobile .actions {
  text-align: center;
  z-index: 100;
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.NavigationMobile .actions li {
  display: inline-block;
  padding: 0 20px;
  @include mq(tablet) {
    padding: 0 20px;
  }
  @include mq(small-tablet) {
    padding: 0 10px;
  }
  @include mq(smartphone) {
    padding: 0 5px;
    margin-bottom: 0;
    height: 30px;
  }
}

.NavigationMobile .actions a {
  @include mq(small-smartphone) {
    padding: 5px 0;
  }
}

.agent-platform-ios .NavigationMobile .actions li {
  transform: scale(1.7);
  margin-bottom: 30px;
  @include mq(smartphone) {
    transform: scale(1.2);
    padding: 0 10px;
    margin-bottom: 0;
  }
}

.NavigationMobile .actions li a span {
  display: none;
}


// Hamburger

.hamburger {
  z-index: 500;
  top: 20px;
  right: 20px;
  position: fixed;
  display: none;
  @include mq(tablet) {
    display: block !important;
  }
  @include mq(smartphone) {
    top: 5px;
    right: 0px;
    transform: scale(0.7);
    transform-origin: top right;
  }
}

.hamburger .hamburger {
  //@include hamburger--spin;
}