/* Page */

.Page {
  font-size: 17.4px;
  line-height: 1.7;
  background: #dcd7d4;
  @include fontPlex;
  @include mq(tablet) {
    font-size: 15.4px;
  }
  @include mq(smartphone) {
    font-size: 14.4px;
  }
}

h2 {
  margin-bottom: 0.75em;
  font-size: 38px;
  line-height: 1.3;
  font-weight: 300;
  word-spacing: -1.5px;
  @include fontRubik;
  @include mq(tablet) {
    font-size: 1.8rem;
  }
  @include mq(smartphone) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
  word-spacing: -1.5px;
  @include fontRubik;
  @include mq(tablet) {
    font-size: 1.4rem;
  }
}