/* QuickStart */

.QuickStart a {
  display: flex;
  flex-direction: row-reverse;
  background: $highlightColorLightBackground;
  color: $highlightColorText;
  transition: all .2s;
  height: 100%;
  text-decoration: none;
  @include mq(smartphone) {
    flex-direction: column;
  }
}

.QuickStart a:hover {
  background: darken($highlightColorLightBackground, 10%);
}

.QuickStart .image {
  flex: 0 0 150px;
  position: relative;
}

.QuickStart .image img {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.QuickStart .textContent {
  padding: 22px;
  font-size: 13px;
  @include topAndTail;
  flex-grow: 1;
  @include mq(smartphone) {
    padding: 15px;
  }
}

.QuickStart h3 {
  margin-bottom: 14px;
}

.QuickStart p {
  @include fontPlex;
  font-size: 15px;
  line-height: 1.6;
  max-width: none !important;
  @include mq(tablet) {
    font-size: 13px;
  }
}