/* QuickStarts */

.QuickStarts {
  padding-top: $baseSpacing;
  padding-bottom: $baseSpacing;
  @include popOut;
  @include mq(tablet) {
    padding-top: 70px;
    padding-bottom: 70px; //$baseSpacingTablet?
  }
  @include mq(smartphone) {
    padding-top: 50px;
    padding-bottom: 50px; //$baseSpacingTablet?
  }
}

div[class*="ContentAreaWithSidebar"] + .QuickStarts {
  background: $light-gray;
}

.QuickStarts .textContent {
  max-width: 50%;
  @include topAndTail;
  padding-bottom: 70px;
  @include mq(tablet) {
    padding-bottom: 50px;
  }
  @include mq(smartphone) {
    max-width: none;
    padding-bottom: 30px;
  }
}

.QuickStarts .textContent > div {
  margin-top: 20px;
}

.QuickStarts .quickStarts {
  @include grid(2, 40px, 40px);
  @include mq(tablet) {
    @include grid(2, 30px, 30px);
  }
  @include mq(smartphone) {
    @include grid(1, 0, 15px);
  }
}