/* Record */

.Record img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  @include mq(smartphone) {
    height: 140px;
  }
}

.Record .type {
  @include fontRubik;
  @include smallCaps;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 15px;
  display: inline-block;
  @include mq(tablet) {
    font-size: 13px;
    margin-top: 30px;
  }
}

.Record p {
  @include fontPlex;
  font-size: 15px;
  line-height: 1.6;
  @include mq(tablet) {
    font-size: 13px;
  }
}

.Record h3 {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}