/* Search */

.Search {
  background: #ddd;
  padding-top: $baseSpacing;
  padding-bottom: $baseSpacing;
  padding-left: 100px;
  background: url(../../assets/images/page-home-map.jpg);
  width: calc(50% + 80px);
  margin-right: -80px;
  @include topAndTail;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  @include fontRubik;
  @include mq(tablet) {
    width: calc(50% + 30px);
    padding-top: 50px;
    padding-bottom: 50px; //$baseSpacingTablet??
    padding-left: 50px;
    padding-right: 30px;
  }
  @include mq(smartphone) {
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
}

.Search h2 {
  @include smallCaps;
  font-weight: 400;
}

.Search form {
  display: flex;
  max-width: 400px;
  @include mq(tablet) {
    max-width: 335px;
  }
  @include mq(smartphone) {
    margin: 0 auto;
  }
}

.Search input {
  //Overriding Grommet here
  padding: 20px;
  background: white;
  border-radius: 10px 0 0 10px;
  border: 0;
  position: relative;
}

.Search input:focus,
.Search button:focus {
  outline: 0;
  border: 0;
  box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.2);
  //outline:10px solid rgba(255, 255, 255, 0.2);
}

.Search {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lighten($textColor, 40%) !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lighten($textColor, 40%) !important;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: lighten($textColor, 40%) !important;
  }
}

.Search input[type="submit"],
.Search button {
  padding: 0 30px;
  background: $highlightColor;
  border-radius: 0 10px 10px 0;
  border: 0;
  @include mq(smartphone) {
    padding: 0 10px;
  }
}

.Search input[type="submit"]:hover,
.Search button:hover {
  box-shadow: none;
  background: darken($highlightColor, 5%);
}