/* SecondaryFooter */

.SecondaryFooter {
  background: $highlightColor;
  padding-top: 30px;
  padding-bottom: 30px;
  @include popOut;
  display: flex;
  align-items: center;
  @include mq(tablet) {
    min-height: 120px;
  }
}

*[class='MainFooter'] + .SecondaryFooter {
  background: darken($highlightColor, 10%);
}

.SecondaryFooter .sponsorLogos {
  display: flex;
  padding: 70px 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  @include unlist;
  @include mq(smartphone) {
    flex-wrap: wrap;
  }
}

$logoBaseSize: 23%;
$logoBaseSizeTablet: 25%;
$logoBaseSizeMobile: 33.333333%;

.SecondaryFooter .sponsorLogos li {
  flex: 0 1 $logoBaseSize;
  padding: 0 1.9%;
  @include mq(tablet) {
    padding: 0 3%;
    flex: 0 1 $logoBaseSizeTablet;
  }
  @include mq(smartphone) {
    padding: 0 3%;
    flex: 0 1 $logoBaseSizeMobile;
  }
}

.SecondaryFooter .sponsorLogos li img {
  width: 100%;
}

.SecondaryFooter .sponsorLogos li[class*='small'] {
  flex: 0 1 calc(#{$logoBaseSize} - 2%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} - 1%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} - 1%);
  }
}

.SecondaryFooter .sponsorLogos li[class*='xsmall'] {
  flex: 0 1 calc(#{$logoBaseSize} - 4%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} - 2%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} - 2%);
  }
}

.SecondaryFooter .sponsorLogos li[class*='xxsmall'] {
  flex: 0 1 calc(#{$logoBaseSize} - 6%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} - 3%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} - 3%);
  }
}

.SecondaryFooter .sponsorLogos li[class*='xxxsmall'] {
  flex: 0 1 calc(#{$logoBaseSize} - 8%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} - 4%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} - 4%);
  }
}

.SecondaryFooter .sponsorLogos li[class*='large'] {
  flex: 0 1 calc(#{$logoBaseSize} + 2%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} + 1%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} + 1%);
  }
}

.SecondaryFooter .sponsorLogos li[class*='xlarge'] {
  flex: 0 1 calc(#{$logoBaseSize} + 4%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} + 2%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} + 2%);
  }
}

.SecondaryFooter .sponsorLogos li[class*='xxlarge'] {
  flex: 0 1 calc(#{$logoBaseSize} + 6%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} + 3%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} + 3%);
  }
}

.SecondaryFooter .sponsorLogos li[class*='xxxlarge'] {
  flex: 0 1 calc(#{$logoBaseSize} + 8%);
  @include mq(tablet) {
    flex: 0 1 calc(#{$logoBaseSizeTablet} + 4%);
  }
  @include mq(smartphone) {
    flex: 0 1 calc(#{$logoBaseSizeMobile} + 4%);
  }
}

.SecondaryFooter .sponsorLogos li a {
  transition: all .2s;
}

.SecondaryFooter .sponsorLogos li a:hover {
  opacity: 0.8;
}