/* SidebarCTA */

.SidebarCTA {
  border-left: 6px solid;
  padding-left: 30px;
  color: $highlightColor;
  max-width: 340px;
  @include mq(tablet) {
    border-left: 3px solid;
    padding-left: 22px;
  }
}

.SidebarCTA:first-child {
  @include mq(smartphone) {
    margin-top:40px;
  }
}

.SidebarCTA h2 {
  margin-top: 0;
}

.SidebarCTA > a {
  background: rgba(0, 0, 0, 0.05);
  padding: 15px 23px;
  border-radius: 10px;
  color: $highlightColor;
  text-decoration: none;
  @include fontRubik;
  display: inline-block;
  margin-top: 1em;
}

.SidebarCTA {

}

.SidebarCTA {

}