/* SiteWrapper */

.SiteWrapper {
  padding: 0 80px;
  overflow: hidden;
  max-width: 1520px;
  margin: 0 auto;
  background: white;
  @include mq(tablet) {
    padding: 0 30px;
  }
  @include mq(smartphone) {
    padding: 0 15px;
  }
}