/* TertiaryFooter */

.TertiaryFooter {
  background: $black;
  padding-top: 10px;
  padding-bottom: 10px;
  @include popOut;
  display: flex;
  min-height: 110px;
  align-items: center;
  font-size: 14px;
  @include fontRubik;
  @include mq(tablet) {
    min-height: 70px;
  }
  @include mq(smartphone) {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.TertiaryFooter .navigation {
  @include unlist;
  display: flex;
  margin-left: auto;
  @include mq(smartphone) {
    font-size: 12px;
    text-align: center;
    flex-flow:row wrap;
    justify-content: center;
  }
}

.TertiaryFooter .navigation li {
  margin-left: 20px;
  @include mq(smartphone) {
    margin: 0 8px;
  }
}

.TertiaryFooter .navigation li a {
  opacity: 0.5;
  color: white;
  text-decoration: none;
}

.TertiaryFooter .navigation li a:hover {
  opacity: 1;
}

.TertiaryFooter .humapSignature {
  @include mq(smartphone) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.TertiaryFooter .humapSignature a {
  color: #666666;
  transition: all .1s;
  text-decoration: none;
}

.TertiaryFooter .humapSignature a:hover {
  color: #a8a8a8;
}

.TertiaryFooter .humapSignature b {
  display: none;
}

.TertiaryFooter .humapSignature img {
  opacity: 0.3;
  width: 70px;
  margin-left: 4px;
  margin-top: 0;
  margin-right: 7px;
  transition: all .1s;
}

.TertiaryFooter .humapSignature a:hover img {
  opacity: 0.6;
}