/* OverlayTools */

.OverlayTools {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  color: white;
  z-index: 2;
  @include mq(tablet) {
    position: fixed;
    bottom: auto;
    width: 60%;
    top: 62px;
    z-index: 1;
  }
  @include mq(smartphone) {
    width: 70%;
  }
  @include mq(small-smartphone) {
    width: 90%;
  }
}

.OverlayTools.isCentered {
  right: 25%;
}

.OverlayTools button.toggleOverlayTools {
  position: absolute;
  bottom: 0;
  color: white;
  border: 0;
  padding: $basePadding;
  background: $toolbarBackground;
  cursor: pointer;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
  transition: all .3s;

  @include smallCapsApp;
  @include mq(tablet) {
    background: lighten($toolbarBackground, 3%);
    bottom: auto;
    top: 0;
    right: 0;
    left: auto;
    transform: none;
    width: 164px;
  }
}

:global(.darkMode) .OverlayTools > button {
  background: $toolbarBackgroundDarkMode;
}

.OverlayTools button.toggleOverlayTools:focus {
  outline: 0;
}

.OverlayTools.isOpen button.toggleOverlayTools {
  opacity: 0;
  pointer-events: none;
}

.OverlayTools .toolsWrapper {
  background: $toolbarBackground;
  padding: $basePadding + 5 $basePadding + 10 10px;
  @include mq(tablet) {
    background: lighten($toolbarBackground, 3%);
  }
  @include mq(small-smartphone) {
    padding: 15px 20px 5px;
  }
}

:global(.darkMode) .OverlayTools .toolsWrapper {
  background: $toolbarBackgroundDarkMode;
}

.OverlayTools .toolsWrapper > button {
  float: right;
  margin-top: 4px;
}

.OverlayTools .hideTools {
  background: $highlightColor;
  background: transparent;
  border: 0;
  @include smallCapsApp;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: all .2s;
  padding: 0;
}

.OverlayTools .hideTools:hover {
  opacity: 1;
}

.OverlayTools h2 {
  font-size: 16px;
  margin: 0 0 10px 0;
  display: inline-block;
  @include smallCapsApp;
}

.OverlayTools ul {
  @include unlist;
}

.OverlayTools .overlayListItem {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  height: 27px;
}

.OverlayTools .overlayColor {
  width: 14px;
  height: 14px;
  flex: 0 0 14px;
  display: inline-block;
  margin-right: 10px;
}

.OverlayTools input[type='range'] {
  @include styledRangeInput;
  width: 45%;
  flex: 0 0 120px;
  margin: 0 0 1px auto;
  @include mq(tablet) {
    flex: 0 0 90px;
  }
  @include mq(small-smartphone) {
    flex: 0 0 80px;
  }
}

.OverlayTools input[type='range']:focus {
  outline: none;
  box-shadow: none;
}

.OverlayTools input[type='range'][disabled] {
  opacity: 0.35;
}

.OverlayTools .overlayTitle {
  padding-right: 10px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.OverlayTools .overlayTitle a {
  color: white;
}

.OverlayTools .overlayToolButtons {
  margin-top: -4px;
  flex: 0 0 56px;
  font-size: 18px;
}

.OverlayTools .overlayToolButtons > span {
  padding-left: 10px;
  opacity: 0.6;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 4px;
}

.OverlayTools .overlayToolButtons > span:hover {
  opacity: 1;
  transition: all .2s;
}

.OverlayTools .overlayToolLocate {
  @include icon('locate-overlay', 'after', #ffffff);
}

.OverlayTools .overlayToolShowHide {
  @include icon('show-overlay', 'after', #ffffff);
}

.OverlayTools .overlayToolShowHide[class*='is-hidden'] {
  @include icon('hide-overlay', 'after', #ffffff);
  transform: translate(0, 2px);
}

.OverlayTools .overlaysListAdvanced li li .overlayTitle {
  opacity: 0.6;
}

.OverlayTools .overlaysListAdvanced > li > .overlayListItem {
  cursor: pointer;
}

.OverlayTools .dropdownIndicator {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
  @include icon('caret-down', 'before', rgba(255, 255, 255, 1));
  font-size: 1.6em;
}

.OverlayTools .dragHandle {
  float: left;
  border: 5px pink
}

.OverlayTools .closed .dropdownIndicator:before {
  transform: rotate(180deg);
  left: -5px;
}

.OverlayTools .dropdownIndicator:before {
  position: relative;
  top: -7px;
  left: -8px;
}

.OverlayTools .activeDropzone {
  background-color: findContrastingTextColor($highlightColor);
  transition: all 0.125s 0.175s ease-in;
  border-radius: 10px;
  padding: 8px 10px;
  margin-right: -10px;
  margin-left: -10px;
}

.OverlayTools .inactiveDropzone {
  transition: all 0.125s 0.175s ease-in;
  border-radius: 10px;
  padding: 8px 10px;
  margin-right: -10px;
  margin-left: -10px;
}

[data-react-beautiful-dnd-drag-handle] {
  float: left;
  margin-left: -22px;
  opacity: 0.2;
}

[data-react-beautiful-dnd-drag-handle] svg {
  max-width: 13px;
}