/* OverlayCard */

.OverlayCard {
  background: #eee;
  position: relative;
  height: 200px;
}

.OverlayCard section {
  @include topAndTail;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: transparentize($highlightColor, 0.1);
  color: $textOnHighlightColor;
  transition:all .2s;
}

.OverlayCard a {
  background: black;
}

.OverlayCard a:hover section {
  background: transparentize(lighten($highlightColor, 5%), 0.1);
}

.OverlayCard h3 {
  font-size: 12px;
  font-weight: 500;
  word-spacing: 0;
}

.OverlayCard img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:all .2s;
}

.OverlayCard a:hover img {
  opacity: 0.9;
}


.OverlayCard .checkboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: $black;
  padding: 9px 7px 9px 11px;
  color: white;
  @include smallCapsApp;
  display: flex;
  align-items: flex-end;
  @include fontRubik;
}

.OverlayCard .checkboxWrapper div[class*='StyledCheckBoxBox'] {
  border-color: #666;
  margin-right: 10px;
  margin-bottom: -2px;
}

.OverlayCard .checkboxWrapper > * {
  margin-top: -9px;
}
