/* OverlayKeeper */

.OverlayKeeper {
  background: $light-gray;
  color: $textColor;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  margin-bottom: 4px;
  transition: all .3s;
  @include fontRubik;
  position: relative;
  margin-left: auto;
}

.OverlayKeeper:hover {
  background: darken($light-gray, 5%);
}

.OverlayKeeper > label {
  padding: 12px 10px 12px 15px;
}