/* RecordsList */

.RecordsList {
  @include grid(2, 10px, 10px);
  @include mq(wide) {
    @include grid(3, 10px, 10px);
  }
  @include mq(tablet) {
    @include grid(3, 10px, 10px);
  }
  @include mq(smartphone) {
    @include grid(2, 10px, 10px);
  }
}

.RecordsList[class*="list"] {
  @include grid(1, 10px, 15px);
  margin-top: 1.2em;
}
