/* RecordTextContent */

.RecordTextContent {
  @include fontPlex;
  padding-bottom: 60px;
}

.RecordTextContent > p:first-child {
  font-weight: 600;
}

.RecordTextContent blockquote {
  color: $highlightColor;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
}

.RecordTextContent blockquote:before {
  color: $highlightColor;
  content: "\201C";
  float: left;
  margin-left: -50px;
  font-size: 55px;
  opacity: 0.5;
}

.RecordTextContent * {
  outline: 1px solid transparent;
}