/* RecordsView */

.RecordView {
  position: relative;
  @include mq(tablet) {
    @include routerChildrenTrayStylesMobile;
  }
}

.RecordView .cta {
  margin: 0 -22px;
  font-size: 13px;
}

.RecordView .cta a {
  color: $highlightColorText;
  background: $highlightColorLightBackground;
  padding: 22px;
  padding-bottom: 80px;
  display: block;
  @include topAndTail;
  transition: all .2s;
  @include mq(smartphone) {
    padding-bottom: 60px;
  }
}

.RecordView .cta a:hover {
  background: darken($highlightColorLightBackground, 5%);
}

.RecordView .cta h2 {
  font-size: 26px;
  margin-bottom: 14px;
  font-weight: 300;
  line-height: 1.25;
  word-spacing: -1.5px;
}

.RecordView .cta:last-child {
  margin-bottom: -60px;
}

.RecordView .cta p {
  max-width: 70%;
}

.RecordView .createdBy {
  @include fontPlex;
  color: #969696;
  margin-bottom: 30px;
}