/* Layout */

body {
  background: white;
}

.Layout.Layout {
  overflow: hidden;
  position: relative;
  height: 100%;
  @include mq(tablet) {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

.Layout a {
  color: $highlightColor;
  text-decoration: none;
}