/* RecordTrailsSelector */

.RecordTrailsSelector {
  color: #666;
}

.RecordTrailsSelector .showDropdown,
.RecordTrailsSelector .singleTrailLink {
  display: inline-block;
  cursor: pointer;
  color: #666;
  transition: all .2s;
}

.RecordTrailsSelector .showDropdown:hover,
.RecordTrailsSelector .singleTrailLink:hover {
  color: #a0a0a0;
}

.RecordTrailsSelector .dropdown {
  font-size: 12px;
  font-weight: 500;
  @include unlist;
  position: absolute;
  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.13%);
  top: 44px;
  z-index: 1;
}

.RecordTrailsSelector .dropdown li {
  @include unlist;
  background: white;
  padding: 18px;
  z-index: 1;
}

.RecordTrailsSelector .dropdown li + li {
  padding-top: 0;
  margin-top: -5px;
}

.RecordTrailsSelector .dropdown li a {
  color: $black;
}

.RecordTrailsSelector .dropdown li a:hover {
  color: $highlightColor;
}

.RecordTrailsSelector .dropdown:before {
  content: "";
  width: 31px;
  height: 31px;
  background: white;
  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.13%);
  transform-origin: center;
  transform: rotate(45deg);
  position: absolute;
  top: -13px;
  left: 21px;
  z-index: -1;
}
