/* TrailMeta */

.TrailMeta {
  position: relative;
  margin: -22px -22px 22px !important;
  display: flex;
  flex: 0 0 auto;
  padding: 10px 22px;
  background-color: $highlightColorLightBackground;
  background-color: $highlightColor;
  color: white;
  @include fontRubik;
  @include mq(tablet) {
    margin-top: 0 !important;
  }
}

.TrailMeta h3 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TrailMeta ul {
  @include unlist;
  display: flex;
  opacity: 0.7;
}

.TrailMeta li + li {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid transparentize(white, 0.7);
}

.TrailMeta nav {
  margin-left: auto;
  display: flex;
}

.TrailMeta nav span {
  @media screen and (max-width: 360px) {
    display: none;
  }
}

.TrailMeta a {
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}

.TrailMeta a:hover {
  opacity: 0.7;
  transition: all .2s;
}

.TrailMeta a + a {
  margin-left: 20px;
}

.TrailMeta a[class*='is-disabled'] {
  opacity: 0.4;
  cursor: default;
}

.TrailMeta a[class*='start'] {
  @include icon('caret-right', 'after', #ffffff);
}

.TrailMeta a[class*='start']:after {
  margin-left: 4px;
  width: 0.7em;
  height: 0.7em;
  transition: all .2s;
  background-size: 0.8em;
}

.TrailMeta span[class*='currentStop'] {
  background: $highlightColor;
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  z-index: 1;
  @include fontRubik;
  font-size: 14px;
  font-weight: 500;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2px 7px;
}