/* Search form */

.SearchForm {
  @include mq(tablet) {
    @include routerChildrenTrayStylesMobile;
  }
}

.SearchForm input[class*='StyledTextInput'] {
  padding: 13px;
  @include fontRubik;
}

.SearchForm label {
  @include fontRubik;
}

.SearchForm h2 {
  margin-top: 16px;
}

.SearchForm label[class*='StyledText'] {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 0.75em;
  margin-top: 16px;
}

.SearchForm .checkBoxesWrap {
  margin-bottom: 5px;
}

.SearchForm .checkBoxesWrap div[class*='FormFieldContentBox'] {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SearchForm .checkBoxesWrap div[class*='FormFieldContentBox'] label {
  margin-right: 20px;
  margin-bottom: 15px;
}

.SearchForm button[class*='StyledButton'] {
  @include fontRubik;
  padding: 10px 27px;
  border-radius: 100px;
  margin-top: 16px;
}

.SearchForm .toggleWrap div[class*='FormFieldContentBox'] {
  border: 0;
  padding: 0;
  flex-direction: row;
}

.SearchForm .toggleWrap span[class*='StyledCheckBoxKnob'] {
  background: $highlightColor !important;
}

.SearchForm .toggleWrap .extraLabel {
  @include fontRubik;
  margin-right: 10px;
}

// Tidy this up

.SearchForm *[class*='LocationBar-module--LocationBar'] {
  margin-bottom:20px;
}

.SearchForm *[class*='TrayTitle'] {
  margin-bottom:20px;
}