/*
.sidebar {
  float: left;
  margin-left: pow(4, 3) * 1px;
}

@mixin text-contrast($n) {
  $color-brightness: round((red($n)*299)+(green($n)*587)+(blue($n)*114)/1000);
  $light-color: round((red(#ffffff)*299)+(green(#ffffff)*587)+(blue(#ffffff)*114)/1000);

  @if abs($color-brightness) < ($light-color/2){
    color: white;
  }

  @else {
    color: black;
  }
}*/

@mixin routerChildrenTrayStylesMobile {
  pointer-events:all;
  margin-top: calc(75vh);
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 0px 0 10px rgba(0, 0, 0, 0.2);
  background: $trayBackground;
  position:relative;

  &:before {
    content: "";
    width: 60px;
    height: 3px;
    background: #e8e8e8;
    display: block;
    position: absolute;
    left: calc(50% - 30px);
    top: 10px;
    border-radius: 100px;
  }
}

@mixin unlist {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin topAndTail {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:first-child > *:first-child {
    margin-top: 0;
  }
  & > *:first-child > *:first-child > *:first-child {
    margin-top: 0;
  }
  & > div:first-child + * {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  & > *:last-child > *:last-child {
    margin-bottom: 0;
  }
}

@mixin popOut {
  margin-left: -80px;
  margin-right: -80px;
  padding-left: 80px;
  padding-right: 80px;
  @include mq(tablet) {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @include mq(smartphone) {
    margin-left: -150px;
    margin-right: -150px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

@mixin mq($point) {
  @if $point==wide {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point==small-tablet {
    @media (max-width: 950px) {
      @content;
    }
  } @else if $point==smartphone {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point==small-smartphone {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point==very-small-smartphone {
    @media (max-width: 374px) {
      @content;
    }
  }
}

@mixin owl {
  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  & > * + * {
    margin-top: 1.2em;
  }
}

@mixin articleBasics {
  line-height: 1.95;
  @include topAndTail;
  /*  @include mq(tablet) {
      font-size: 16.1px;
    }
    @include mq(smartphone) {
      font-size: 14.1px;
    }*/

  * {
    margin: 0;
  }

  ul,
  ol,
  blockquote {
    padding: 0;
  }

  //Typography

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1.4;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
    color: $highlightColor;
  }

  h5 {
    font-size: .9rem;
    text-transform: uppercase;
    margin-top: 1.8em;
  }

  h6 {
    font-size: .8rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  ol,
  ul,
  blockquote,
  pre {
    margin-left: 1rem;
  }

  ol,
  ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 2rem;
  }

  li {
    margin-top: 0.5rem;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-left: 1.5rem;
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  ol ol {
    list-style-type: lower-latin;
  }

  a,
  a:visited {
    transition: all .2s;
    color: $highlightColor;
  }

  a:hover {
    color: darken($highlightColor, 30%);
  }

  blockquote {
    padding: 5px 25px 5px 0;
  }

  blockquote p {
    padding-left: 25px;
    border-left: 2px solid #ddd;
    color: orange;
    font-size: 1.4rem;
  }

  // Tables

  table th {
    font-weight: 500;
    border-bottom: 1px solid #bbb;
  }

  table th,
  table td {
    padding: 5px 7px;
  }

  // Images

  figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }

  figcaption {
    background: $light-gray;
    padding: 18px 18px 16px 18px;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 0;
    @include mq(smartphone) {
      font-size: 12px;
      padding: 10px;
    }
  }

}

// Grid

@mixin grid($cols, $colgap, $rowgap) {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: ($colgap * -1);

  & > * {
    box-sizing: border-box;
    margin-bottom: $rowgap;
    padding-left: $colgap;
    width: 100%;
  }

  @if $cols==1 {
    & > * {
      width: 100%;
    }
  } @else if $cols==2 {
    & > * {
      width: 50%;
    }
  } @else if $cols==3 {
    & > * {
      width: 33.333333%;
    }
  } @else if $cols==4 {
    & > * {
      width: 25%;
    }
  }

  @supports (display: grid) {
    display: grid;

    @if $cols==1 {
      grid-template-columns: 1fr;
    } @else if $cols==2 {
      grid-template-columns: 1fr 1fr;
    } @else if $cols==3 {
      grid-template-columns: 1fr 1fr 1fr;
    } @else if $cols==4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    grid-column-gap: $colgap;
    grid-row-gap: $rowgap;

    // flexbox overrides

    margin-left: 0;

    & > * {
      margin-bottom: 0;
      padding-left: 0;
      width: auto;
    }
  }

}

// Typographic mixins

@mixin smallCaps {
  font-size: 1.15em;
  //margin: 0.67em 0;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 300;
}

@mixin smallCapsApp {
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 500;
}

@mixin fontPlex {
  font-family: "IBM Plex Serif", serif;
}

@mixin fontRubik {
  font-family: "Rubik", sans-serif;
}

@mixin paragraphLargeSerif {
  font-size: 1.125em;
  line-height: 1.4;
  font-weight: 500;
  font-family: "IBM Plex Serif";
}

@mixin headingLevel1 {
  font-size: 2em;
  line-height: 1.15;
  word-spacing: -1.5px;
  color: $highlightColor;
  font-weight: 500;
  @include mq(smartphone) {
    font-size: 1.6em;
  }
}

@mixin headingLevel1b {
  font-size: 1.8em;
  line-height: 1.4;
  color: $highlightColor;
  font-weight: 500;
}

@mixin headingLevel2 {
  font-size: 1.125em;
  //margin: 0.67em 0;
  line-height: 1.4;
  font-weight: 500;
}

// Icons

$icons: (
        'home': '<svg width="100%" height="100%" viewBox="0 0 53 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-137,-276)"><g id="icon-start" transform="matrix(3.69043,0,0,3.35364,-1280.68,-599.782)"><path d="M390.085,270.423L389.697,275.361C389.647,275.989 389.17,276.47 388.597,276.47C388.597,276.47 385.914,276.47 385.682,276.47C385.074,276.471 384.577,275.937 384.563,275.268C384.554,274.859 384.391,267.431 384.391,267.431C384.382,267.048 384.539,266.682 384.814,266.446L390.655,261.416C391.067,261.061 391.645,261.061 392.057,261.416C392.435,261.742 397.898,266.446 397.898,266.446C398.173,266.682 398.33,267.048 398.322,267.431C398.322,267.431 398.159,274.862 398.15,275.268C398.135,275.937 397.638,276.47 397.03,276.47L394.115,276.47C393.542,276.47 393.065,275.989 393.015,275.361L392.627,270.423L390.085,270.423ZM391.336,262.372C391.348,262.361 391.365,262.361 391.377,262.372C391.755,262.698 397.218,267.402 397.218,267.402C397.218,267.402 397.055,274.832 397.046,275.239C397.046,275.248 397.039,275.256 397.03,275.256L394.115,275.256C394.115,275.256 393.783,271.029 393.674,269.643C393.654,269.397 393.467,269.208 393.243,269.208L389.468,269.208C389.244,269.208 389.058,269.396 389.039,269.641C388.93,271.026 388.597,275.256 388.597,275.256L385.682,275.256C385.673,275.256 385.666,275.248 385.666,275.239C385.657,274.83 385.494,267.402 385.494,267.402C385.494,267.402 390.957,262.698 391.336,262.372Z" style="fill:%%COLOR%%;"/></g></g></svg>',
        'browse': '<svg width="100%" height="100%" viewBox="0 0 52 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-238,-275)"><g id="icon-inthisarea"><g transform="matrix(0.128451,0,0,0.128451,7.07003,56.742)"><path d="M2000,1705.32C2110.38,1705.32 2200,1794.94 2200,1905.32C2200,2015.71 2110.38,2105.32 2000,2105.32C1889.62,2105.32 1800,2015.71 1800,1905.32C1800,1794.94 1889.62,1705.32 2000,1705.32ZM2000,1742.69C2089.76,1742.69 2162.63,1815.56 2162.63,1905.32C2162.63,1995.08 2089.76,2067.95 2000,2067.95C1910.24,2067.95 1837.37,1995.08 1837.37,1905.32C1837.37,1815.56 1910.24,1742.69 2000,1742.69Z" style="fill:%%COLOR%%;"/></g><g transform="matrix(0.119678,0,0,0.121674,214.227,-73.5214)"><path d="M472.452,2963.14C472.452,2963.14 453.815,2974.62 424.017,2998.88C417.628,3004.08 411.982,3009.03 405.485,3015.48C397.972,3022.94 390.64,3030.35 383.796,3039.36C379.584,3044.9 375.841,3050.91 372.587,3057.16C370.116,3061.9 368.199,3066.79 366.422,3071.8C361.951,3084.4 358.676,3096.03 355.837,3108.16C344.454,3156.76 341.094,3190.65 341.094,3190.65C338.263,3195.56 339.946,3201.84 344.849,3204.67C349.751,3207.5 356.03,3205.81 358.861,3200.91C358.861,3200.91 386.538,3181.05 422.933,3146.9C432.013,3138.37 440.449,3129.72 449.128,3119.55C452.577,3115.51 455.853,3111.4 458.726,3106.89C462.508,3100.95 465.839,3094.7 468.534,3088.28C472.913,3077.85 475.665,3067.8 478.37,3057.56C480.71,3048.71 482.174,3041.34 483.483,3033.21C489.586,2995.28 490.218,2973.39 490.218,2973.39C493.049,2968.49 491.367,2962.21 486.464,2959.38C481.561,2956.55 475.282,2958.23 472.452,2963.14ZM415.656,3054.18C431.022,3054.18 443.497,3066.66 443.497,3082.02C443.497,3097.39 431.022,3109.86 415.656,3109.86C400.291,3109.86 387.816,3097.39 387.816,3082.02C387.816,3066.66 400.291,3054.18 415.656,3054.18Z" style="fill:%%COLOR%%;"/></g></g></g></svg>',
        'search': '<svg width="100%" height="100%" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-338,-276)"><g id="icon-search" transform="matrix(1,0,0,1,-10.693,-2728.95)"><path d="M384.096,3045.1C380.505,3047.63 376.13,3049.12 371.41,3049.12C359.227,3049.12 349.336,3039.22 349.336,3027.04C349.336,3014.86 359.227,3004.97 371.41,3004.97C383.593,3004.97 393.484,3014.86 393.484,3027.04C393.484,3031.68 392.051,3035.98 389.605,3039.54L400.011,3050.9C400.778,3051.67 400.778,3052.91 400.011,3053.68L398.209,3055.48C397.443,3056.25 396.199,3056.25 395.432,3055.48L384.096,3045.1ZM371.41,3009.77C380.944,3009.77 388.684,3017.51 388.684,3027.04C388.684,3036.58 380.944,3044.32 371.41,3044.32C361.876,3044.32 354.136,3036.58 354.136,3027.04C354.136,3017.51 361.876,3009.77 371.41,3009.77Z" style="fill:%%COLOR%%;"/></g></g></svg>',
        'overlays': '<svg width="100%" height="100%" viewBox="0 0 46 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-438,-274)"><g id="icon-overlay" transform="matrix(0.111497,0,0,0.111497,363.448,-29.4383)"><g transform="matrix(0.555848,0.555848,-0.55116,0.55116,818.99,1312.21)"><path d="M1679.46,1254.68C1680.47,1239.55 1674.96,1224.71 1664.33,1213.97C1653.71,1203.24 1639.01,1197.65 1624,1198.64L1355.99,1216.41C1329.91,1218.14 1309.12,1239.06 1307.37,1265.36L1289.45,1533.52C1288.44,1548.65 1293.96,1563.49 1304.58,1574.23C1315.21,1584.96 1329.92,1590.54 1344.92,1589.54L1612.88,1571.72C1638.94,1569.99 1659.72,1549.07 1661.48,1522.78L1679.46,1254.68ZM1627.42,1251.13L1359.41,1268.89L1341.49,1537.06L1609.44,1519.23L1627.42,1251.13Z" style="fill:%%COLOR%%;"/></g><g transform="matrix(1,0,0,1,-624,1524.75)"><path d="M1325.77,1464.2L1356.88,1491.47C1356.88,1491.47 1350.35,1497.18 1345.79,1501.15C1344.71,1502.1 1344.09,1503.47 1344.08,1504.92C1344.08,1506.36 1344.7,1507.73 1345.79,1508.68C1368.75,1528.8 1476.68,1623.38 1496.97,1641.15C1498.85,1642.8 1501.66,1642.8 1503.55,1641.15C1523.76,1623.5 1630.83,1529.99 1653.71,1510.01C1654.8,1509.07 1655.42,1507.69 1655.42,1506.25C1655.42,1504.81 1654.8,1503.44 1653.72,1502.49C1649.27,1498.59 1642.96,1493.06 1642.96,1493.06L1674.12,1465.85L1685.04,1475.42C1693.93,1483.22 1699.03,1494.47 1699.01,1506.29C1699,1518.12 1693.89,1529.36 1684.98,1537.13L1527.23,1674.91C1511.76,1688.42 1488.68,1688.4 1473.24,1674.87L1314.47,1535.75C1305.58,1527.96 1300.48,1516.71 1300.49,1504.88C1300.5,1493.06 1305.61,1481.82 1314.51,1474.04L1325.77,1464.2Z" style="fill:%%COLOR%%;"/></g></g></g></svg>',
        'trails': '<svg width="100%" height="100%" viewBox="0 0 32 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-530,-275)"><g id="icon-trail" transform="matrix(1,0,0,1,12.2925,-2728.95)"><g transform="matrix(0.92298,0,0,0.92298,24.5877,188.856)"><path d="M551.566,3089.81C551.566,3089.81 536.832,3079.09 536.832,3066.83C536.832,3066.83 534.736,3050.86 551.566,3050.86C568.397,3050.86 566.3,3066.83 566.3,3066.83C566.3,3079.09 551.566,3089.81 551.566,3089.81ZM551.566,3056.3C556.664,3056.3 560.803,3060.52 560.803,3065.72C560.803,3070.92 556.664,3075.14 551.566,3075.14C546.469,3075.14 542.33,3070.92 542.33,3065.72C542.33,3060.52 546.469,3056.3 551.566,3056.3Z" style="fill:%%COLOR%%;"/></g><g transform="matrix(0.827359,0,0,1,106.19,11.1191)"><path d="M507.255,3027L503.968,3026.99C503.139,3026.98 502.327,3027.12 501.575,3027.38C500.821,3027.63 500.13,3028.01 499.54,3028.49C498.951,3028.98 498.492,3029.55 498.177,3030.17C497.863,3030.79 497.698,3031.47 497.696,3032.16C497.696,3032.16 497.69,3033.84 497.69,3033.84C497.685,3035.28 498.388,3036.58 499.523,3037.52C500.658,3038.47 502.231,3039.05 503.968,3039.05C507.717,3039.04 513.668,3039.06 519.226,3039.02C523.102,3038.99 526.785,3038.93 529.398,3038.9C529.825,3038.9 530.224,3039.01 530.509,3039.24C530.806,3039.47 531.026,3039.79 531.036,3040.16C531.036,3040.16 531.082,3041.84 531.082,3041.84C531.092,3042.24 530.94,3042.61 530.636,3042.87C530.32,3043.14 529.891,3043.34 529.398,3043.35C529.398,3043.35 516,3043.63 516,3043.63C515.085,3043.63 514.342,3044.24 514.342,3045C514.342,3045.76 515.085,3046.37 516,3046.37L529.398,3046.65C531.013,3046.68 532.474,3046.14 533.556,3045.28C534.65,3044.42 535.309,3043.2 535.345,3041.84C535.345,3041.84 535.391,3040.16 535.391,3040.16C535.428,3038.78 534.751,3037.53 533.683,3036.61C532.604,3035.68 531.079,3035.12 529.398,3035.1C526.785,3035.07 523.102,3035.01 519.226,3034.98C513.668,3034.94 507.717,3034.96 503.968,3034.95C503.598,3034.95 503.262,3034.83 503.018,3034.63C502.774,3034.43 502.617,3034.15 502.616,3033.84C502.616,3033.84 502.61,3032.16 502.61,3032.16C502.61,3032.01 502.643,3031.86 502.71,3031.72C502.777,3031.59 502.873,3031.46 503.001,3031.36C503.129,3031.25 503.277,3031.16 503.442,3031.11C503.607,3031.05 503.785,3031.01 503.968,3031.01C503.968,3031.01 507.255,3031 507.255,3031C508.59,3031 509.673,3030.1 509.673,3029C509.673,3027.9 508.59,3027 507.255,3027Z" style="fill:%%COLOR%%;"/></g></g></g></svg>',
        'help': '<svg width="100%" height="100%" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-608,-276)"><g id="icon-help" transform="matrix(1,0,0,1,19.4851,-2728.95)"><g transform="matrix(34.8913,0,0,34.8913,604.808,3042.4)"><path d="M0.238,-0.189C0.232,-0.189 0.227,-0.191 0.223,-0.195C0.219,-0.199 0.217,-0.204 0.217,-0.209C0.217,-0.223 0.217,-0.234 0.218,-0.241C0.221,-0.272 0.231,-0.3 0.248,-0.324C0.265,-0.348 0.288,-0.375 0.317,-0.404C0.34,-0.427 0.357,-0.445 0.368,-0.46C0.379,-0.475 0.385,-0.49 0.386,-0.506C0.389,-0.533 0.38,-0.555 0.36,-0.571C0.339,-0.587 0.315,-0.595 0.286,-0.595C0.221,-0.595 0.182,-0.563 0.169,-0.498C0.164,-0.483 0.155,-0.475 0.14,-0.475L0.053,-0.475C0.046,-0.475 0.041,-0.477 0.037,-0.482C0.032,-0.487 0.03,-0.493 0.03,-0.5C0.031,-0.537 0.043,-0.571 0.064,-0.603C0.085,-0.635 0.115,-0.661 0.154,-0.681C0.193,-0.7 0.24,-0.71 0.293,-0.71C0.348,-0.71 0.394,-0.701 0.43,-0.684C0.465,-0.666 0.491,-0.643 0.508,-0.616C0.524,-0.589 0.532,-0.56 0.532,-0.531C0.532,-0.498 0.525,-0.469 0.51,-0.444C0.495,-0.419 0.472,-0.391 0.443,-0.359C0.422,-0.336 0.405,-0.317 0.394,-0.301C0.382,-0.284 0.374,-0.267 0.37,-0.248C0.367,-0.231 0.366,-0.22 0.365,-0.214C0.362,-0.205 0.358,-0.199 0.354,-0.195C0.35,-0.191 0.344,-0.189 0.337,-0.189L0.238,-0.189ZM0.235,-0C0.228,-0 0.223,-0.002 0.218,-0.007C0.213,-0.012 0.211,-0.017 0.211,-0.024L0.211,-0.113C0.211,-0.12 0.213,-0.125 0.218,-0.13C0.223,-0.135 0.228,-0.137 0.235,-0.137L0.334,-0.137C0.341,-0.137 0.347,-0.135 0.352,-0.13C0.357,-0.125 0.359,-0.12 0.359,-0.113L0.359,-0.024C0.359,-0.017 0.357,-0.012 0.352,-0.007C0.347,-0.002 0.341,-0 0.334,-0L0.235,-0Z" style="fill:%%COLOR%%;fill-rule:nonzero;"/></g><g transform="matrix(0.189285,0,0,0.189285,524.048,2764.79)"><path d="M478.825,1268.86C553.31,1268.86 613.782,1329.33 613.782,1403.82C613.782,1478.3 553.31,1538.77 478.825,1538.77C404.339,1538.77 343.867,1478.3 343.867,1403.82C343.867,1329.33 404.339,1268.86 478.825,1268.86ZM478.825,1294.22C539.314,1294.22 588.423,1343.33 588.423,1403.82C588.423,1464.3 539.314,1513.41 478.825,1513.41C418.335,1513.41 369.226,1464.3 369.226,1403.82C369.226,1343.33 418.335,1294.22 478.825,1294.22Z" style="fill:%%COLOR%%;"/></g></g></g></svg>',
        'closeTray': '<svg width="100%" height="100%" viewBox="0 0 41 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-710,-276)"><g id="icon-closetray" transform="matrix(6.7048e-17,-1.09498,0.944853,5.78555e-17,300.324,1225.71)"><path d="M839.688,436.043L823.107,469.203C822.358,470.702 822.356,472.55 823.102,474.051C823.849,475.552 825.23,476.477 826.724,476.477C831.516,476.477 855.093,476.477 859.885,476.477C861.379,476.477 862.76,475.552 863.507,474.051C864.253,472.55 864.251,470.702 863.502,469.203C861.103,464.406 849.314,440.828 846.922,436.043C846.174,434.548 844.796,433.627 843.305,433.627C841.813,433.627 840.435,434.548 839.688,436.043ZM842.88,438.187C842.968,438.012 843.13,437.904 843.305,437.904C843.479,437.904 843.641,438.012 843.729,438.187C846.121,442.972 857.91,466.55 860.309,471.347C860.397,471.523 860.397,471.74 860.31,471.916C860.222,472.092 860.06,472.2 859.885,472.2C855.093,472.2 831.516,472.2 826.724,472.2C826.549,472.2 826.387,472.092 826.3,471.916C826.212,471.74 826.212,471.523 826.3,471.347C828.699,466.55 840.488,442.972 842.88,438.187Z" style="fill:%%COLOR%%;"/></g></g></svg>',
        'closeTrayContent': '<svg width="100%" height="100%" viewBox="0 0 20 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"> <g transform="matrix(1,0,0,1,-491,-391)"> <g id="icon-close" transform="matrix(1,0,0,1,-382.521,-154.87)"> <g transform="matrix(-1.06625,-1.06625,1.06625,-1.06625,1126.13,1718.08)"> <path d="M651.095,431.883C651.095,431.883 652.672,431.993 654.807,432.076C655.94,432.12 657.228,432.17 658.518,432.173C659.271,432.175 660.023,432.151 660.745,432.126C663.586,432.03 665.94,431.883 665.94,431.883C666.439,431.883 666.844,431.478 666.844,430.979C666.844,430.481 666.439,430.076 665.94,430.076C665.94,430.076 663.586,429.929 660.745,429.832C660.023,429.808 659.271,429.784 658.518,429.786C657.228,429.789 655.94,429.838 654.807,429.883C652.672,429.966 651.095,430.076 651.095,430.076C650.597,430.076 650.192,430.481 650.192,430.979C650.192,431.478 650.597,431.883 651.095,431.883Z" style="fill:%%COLOR%%;"/> </g> <g transform="matrix(1.06625,-1.06625,1.06625,1.06625,-278.15,799.024)"> <path d="M651.095,431.883C651.095,431.883 652.672,431.993 654.807,432.076C655.94,432.12 657.228,432.17 658.518,432.173C659.271,432.175 660.023,432.151 660.745,432.126C663.586,432.03 665.94,431.883 665.94,431.883C666.439,431.883 666.844,431.478 666.844,430.979C666.844,430.481 666.439,430.076 665.94,430.076C665.94,430.076 663.586,429.929 660.745,429.832C660.023,429.808 659.271,429.784 658.518,429.786C657.228,429.789 655.94,429.838 654.807,429.883C652.672,429.966 651.095,430.076 651.095,430.076C650.597,430.076 650.192,430.481 650.192,430.979C650.192,431.478 650.597,431.883 651.095,431.883Z" style="fill:%%COLOR%%;"/> </g> </g> </g> </svg>',
        'markerSolid': '<svg width="100%" height="100%" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"> <g transform="matrix(1,0,0,1,-160,-80)"> <g id="Artboard1" transform="matrix(0.18963,0,0,0.271142,230.484,-12.2258)"> <rect x="-371.691" y="340.138" width="316.406" height="221.286" style="fill:none;"/> <g transform="matrix(5.27344,0,0,3.68811,-1215.44,45.0899)"> <path d="M190,83.252C201.916,83.252 211.59,92.505 211.59,103.903C211.59,121.648 192.605,136.569 190,136.748C187.388,136.748 168.41,121.429 168.41,103.903C168.41,92.505 178.084,83.252 190,83.252ZM190,92.859C196.51,92.859 201.795,98.144 201.795,104.654C201.795,111.163 196.51,116.449 190,116.449C183.49,116.449 178.205,111.163 178.205,104.654C178.205,98.144 183.49,92.859 190,92.859Z" style="fill:%%COLOR%%;"/> </g> </g> </g> </svg>',
        'download': '<svg xmlns="http://www.w3.org/2000/svg" width="30.544" height="25.294" viewBox="0 0 30.544 25.294"><g transform="translate(-991.366 -1287.5)"><path d="M1454.5,1298.922l6.881,6.881-6.881,6.881" transform="translate(2312.404 -157.556) rotate(90)" fill="none" stroke="%%COLOR%%" stroke-width="3"/><path d="M8853.866,5633.57v9.724h27.544v-9.724" transform="translate(-7861 -4332)" fill="none" stroke="%%COLOR%%" stroke-linejoin="round" stroke-width="3"/><line y2="14" transform="translate(1006.5 1287.5)" fill="none" stroke="%%COLOR%%" stroke-width="3"/></g></svg>',
        'external': '<svg xmlns="http://www.w3.org/2000/svg" width="31.408" height="33.919" viewBox="0 0 31.408 33.919"><g transform="translate(-1008.919 -965.628)"><g transform="translate(1046.174 2398.574) rotate(-135)"><path d="M0,0,7.879,7.879,0,15.759" transform="translate(1025.259 990.17) rotate(90)" fill="none" stroke="%%COLOR%%" stroke-width="3"/><line y2="16.032" transform="translate(1017.516 980.5)" fill="none" stroke="%%COLOR%%" stroke-width="3"/></g><path d="M10683.643,5322.808v10.24h-20.386v-21.215h7.446" transform="translate(-9652.838 -4335)" fill="none" stroke="%%COLOR%%" stroke-width="3"/></g></svg>',
        'caret-right': '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.129 34.016"><path d="M1454.5,1298.922l15.947,15.947-15.947,15.947" transform="translate(-1453.439 -1297.861)" fill="none" stroke="%%COLOR%%" stroke-width="3"/></svg>',
        'caret-down': '<svg width="100%" height="100%" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"> <g transform="matrix(1,0,0,1,-240,-80)"> <g id="Artboard1" transform="matrix(0.18963,0,0,0.271142,310.484,-12.2258)"> <rect x="-371.691" y="340.138" width="316.406" height="221.286" style="fill:none;"/> <g transform="matrix(3.72888,2.60788,-3.72888,2.60788,-821.129,-590.239)"> <path d="M285.793,107.102C285.793,106.572 285.474,106.095 284.985,105.892C284.495,105.689 283.932,105.801 283.558,106.176C279.922,109.812 272.767,116.966 269.131,120.602C268.757,120.977 268.645,121.54 268.847,122.029C269.05,122.518 269.528,122.837 270.057,122.837C273.643,122.837 279.442,122.837 282.909,122.837C283.674,122.837 284.408,122.534 284.948,121.993C285.489,121.452 285.793,120.719 285.793,119.954L285.793,107.102Z" style="fill:%%COLOR%%;"/> </g> </g> </g> </svg>',
        'show-overlay': '<svg width="100%" height="100%" viewBox="0 0 35 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-551,-389)"><g id="icon-hideoverlay" transform="matrix(0.647955,0,0,0.647955,189.926,140.977)"><g transform="matrix(0.544444,0,0,0.544444,556.926,373.874)"><path d="M95,50C92.5,55.6 89,60.6 84.5,64.8C80.1,69 74.8,72.4 69,74.8C63.2,77.2 56.7,78.5 50,78.5C43.3,78.5 36.8,77.2 31,74.8C25.2,72.4 19.9,69 15.5,64.8C11.1,60.6 7.5,55.6 5,50C7.5,44.4 11,39.4 15.5,35.2C20,31 25.2,27.6 31,25.2C36.8,22.8 43.3,21.5 50,21.5C56.7,21.5 63.2,22.8 69,25.2C74.8,27.6 80.1,31 84.5,35.2C89,39.4 92.5,44.4 95,50Z" style="fill:none;fill-rule:nonzero;stroke:%%COLOR%%;stroke-width:6.8px;"/></g><g transform="matrix(0.60666,0,0,0.60666,365.583,157.497)"><circle cx="360.276" cy="401.542" r="15.517" style="fill:%%COLOR%%;"/><path d="M360.276,386.025C368.84,386.025 375.792,392.978 375.792,401.542C375.792,410.106 368.84,417.059 360.276,417.059C351.712,417.059 344.759,410.106 344.759,401.542C344.759,392.978 351.712,386.025 360.276,386.025ZM360.276,392.131C365.47,392.131 369.687,396.348 369.687,401.542C369.687,406.736 365.47,410.953 360.276,410.953C355.081,410.953 350.864,406.736 350.864,401.542C350.864,396.348 355.081,392.131 360.276,392.131Z" style="fill:%%COLOR%%;"/></g></g></g></svg>',
        'hide-overlay': '<svg width="100%" height="100%" viewBox="0 0 37 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-591,-398)"><g id="icon-showoverlay" transform="matrix(0.647955,0,0,0.647955,230.543,140.977)"><g transform="matrix(0.544444,0,0,0.544444,556.926,373.874)"><path d="M95,50C92.5,55.6 89,60.6 84.5,64.8C80.1,69 74.8,72.4 69,74.8C63.2,77.2 56.7,78.5 50,78.5C43.3,78.5 36.8,77.2 31,74.8C25.2,72.4 19.9,69 15.5,64.8C11.1,60.6 7.5,55.6 5,50" style="fill:none;fill-rule:nonzero;stroke:%%COLOR%%;stroke-width:6.8px;"/></g><g transform="matrix(0.544444,0,0,0.436141,556.926,385.504)"><path d="M95,50C92.5,55.6 89,60.6 84.5,64.8C80.1,69 74.8,72.4 69,74.8C63.2,77.2 56.7,78.5 50,78.5C43.3,78.5 36.8,77.2 31,74.8C25.2,72.4 19.9,69 15.5,64.8C11.1,60.6 7.5,55.6 5,50" style="fill:none;fill-rule:nonzero;stroke:%%COLOR%%;stroke-width:15.02px;stroke-linecap:butt;stroke-dasharray:6.01,15.02,0,0;"/></g></g></g></svg>',
        'locate-overlay': '<svg width="100%" height="100%" viewBox="0 0 29 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-517,-386)"><g id="icon-locateoverlay"><g transform="matrix(0.0567254,0,0,0.0567254,417.976,292.765)"><path d="M2000,1705.32C2110.38,1705.32 2200,1794.94 2200,1905.32C2200,2015.71 2110.38,2105.32 2000,2105.32C1889.62,2105.32 1800,2015.71 1800,1905.32C1800,1794.94 1889.62,1705.32 2000,1705.32ZM2000,1747.63C2087.03,1747.63 2157.69,1818.29 2157.69,1905.32C2157.69,1992.35 2087.03,2063.01 2000,2063.01C1912.97,2063.01 1842.31,1992.35 1842.31,1905.32C1842.31,1818.29 1912.97,1747.63 2000,1747.63Z" style="fill:%%COLOR%%;"/></g><g transform="matrix(0.5,0,0,0.650816,391.684,-1567.53)"><path d="M277.087,3004.74C277.087,3004.74 276.966,3006.49 276.98,3008.72C276.985,3009.56 276.992,3010.47 277.083,3011.37C277.151,3012.05 277.276,3012.71 277.405,3013.36C277.921,3015.95 278.505,3018 278.505,3018C278.505,3018.42 278.945,3018.75 279.487,3018.75C280.028,3018.75 280.468,3018.42 280.468,3018C280.468,3018 281.052,3015.95 281.568,3013.36C281.697,3012.71 281.822,3012.05 281.89,3011.37C281.981,3010.47 281.989,3009.56 281.994,3008.72C282.007,3006.49 281.887,3004.74 281.887,3004.74C281.887,3003.72 280.811,3002.89 279.487,3002.89C278.162,3002.89 277.087,3003.72 277.087,3004.74Z" style="fill:%%COLOR%%;"/></g><g transform="matrix(-0.5,6.12323e-17,-7.97019e-17,-0.650816,671.17,2369.22)"><path d="M277.087,3004.74C277.087,3004.74 276.966,3006.49 276.98,3008.72C276.985,3009.56 276.992,3010.47 277.083,3011.37C277.151,3012.05 277.276,3012.71 277.405,3013.36C277.921,3015.95 278.505,3018 278.505,3018C278.505,3018.42 278.945,3018.75 279.487,3018.75C280.028,3018.75 280.468,3018.42 280.468,3018C280.468,3018 281.052,3015.95 281.568,3013.36C281.697,3012.71 281.822,3012.05 281.89,3011.37C281.981,3010.47 281.989,3009.56 281.994,3008.72C282.007,3006.49 281.887,3004.74 281.887,3004.74C281.887,3003.72 280.811,3002.89 279.487,3002.89C278.162,3002.89 277.087,3003.72 277.087,3004.74Z" style="fill:%%COLOR%%;"/></g><g transform="matrix(3.06162e-17,0.5,-0.650816,3.9851e-17,2499.8,261.102)"><path d="M277.087,3004.74C277.087,3004.74 276.966,3006.49 276.98,3008.72C276.985,3009.56 276.992,3010.47 277.083,3011.37C277.151,3012.05 277.276,3012.71 277.405,3013.36C277.921,3015.95 278.505,3018 278.505,3018C278.505,3018.42 278.945,3018.75 279.487,3018.75C280.028,3018.75 280.468,3018.42 280.468,3018C280.468,3018 281.052,3015.95 281.568,3013.36C281.697,3012.71 281.822,3012.05 281.89,3011.37C281.981,3010.47 281.989,3009.56 281.994,3008.72C282.007,3006.49 281.887,3004.74 281.887,3004.74C281.887,3003.72 280.811,3002.89 279.487,3002.89C278.162,3002.89 277.087,3003.72 277.087,3004.74Z" style="fill:%%COLOR%%;"/></g><g transform="matrix(-9.52999e-17,-0.5,0.650816,-1.16102e-16,-1436.95,540.588)"><path d="M277.087,3004.74C277.087,3004.74 276.966,3006.49 276.98,3008.72C276.985,3009.56 276.992,3010.47 277.083,3011.37C277.151,3012.05 277.276,3012.71 277.405,3013.36C277.921,3015.95 278.505,3018 278.505,3018C278.505,3018.42 278.945,3018.75 279.487,3018.75C280.028,3018.75 280.468,3018.42 280.468,3018C280.468,3018 281.052,3015.95 281.568,3013.36C281.697,3012.71 281.822,3012.05 281.89,3011.37C281.981,3010.47 281.989,3009.56 281.994,3008.72C282.007,3006.49 281.887,3004.74 281.887,3004.74C281.887,3003.72 280.811,3002.89 279.487,3002.89C278.162,3002.89 277.087,3003.72 277.087,3004.74Z" style="fill:%%COLOR%%;"/></g></g></g></svg>',
);

$data-svg-prefix: 'data:image/svg+xml;utf-8,';

@function str-replace( $string, $search, $replace ) {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice( $string, 1, $index - 1 ) + $replace + str_replace( str-slice( $string, $index + str-length( $search ) ), $search, $replace );
  }

  @return $string;
}

@function get-icon( $icon, $color: #fff ) {

  @if 'color' != type-of( $color ) {
    @warn 'The requested color - "' + $color + '" - was not recognized as a Sass color value.';
    @return null;
  }

  @if map-has-key($icons, $icon) {
    $icon: map-get($icons, $icon);
    $placeholder: '%%COLOR%%';
    $data-uri: str-replace(url($data-svg-prefix + $icon), $placeholder, $color);
    @return str-replace($data-uri, '#', '%23');
  }

  @warn 'The requested icon - "' + $icon + '" - is not defined in the $icons map.';
  @return null;
}

@mixin icon($icon:'caret-right', $position:'before', $color: $highlightColor ) {

  @if $position == 'after' {
    &::after {
      content: "";
      height: 1em;
      width: 1em;
      display: inline-block;
      background: center / 1em 1em no-repeat;
      background-image: get-icon($icon, $color);
    }
  } @else {
    &::before {
      content: "";
      height: 1em;
      width: 1em;
      display: inline-block;
      background: center / 1em 1em no-repeat;
      background-image: get-icon($icon, $color);
    }
  }

}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: #444 !default;
$thumb-color: $highlightColor !default;

$thumb-radius: 6px !default;
$thumb-height: 12px !default;
$thumb-width: 12px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 0px !default;
$thumb-border-color: #999 !default;

$track-width: 100% !default;
$track-height: 2px !default;
$track-shadow-size: 0 !default;
$track-shadow-blur: 0 !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 0px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

@mixin styledRangeInput {
  -webkit-appearance: none;
  background: transparent;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
  }

  &::-moz-range-track {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    @include track;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $ie-bottom-track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: $track-height / 4;
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}
