/* Colors */

// Theme colours
// Don't forget to set the brand color in GrommetTheme.js too

$highlightColorLightBackground: desaturate(lighten($highlightColor, 50%), 10%);
$highlightColorText: darken($highlightColor, 15%);

$black: #1b1b1b;

$textColor: $black;
$textColorDarkMode: #FBF7F7;


// Find Contrasting Text Color

@function findContrastingTextColor($n) {
  $color-brightness: round((red($n)*299)+(green($n)*587)+(blue($n)*114)/1000);
  $light-color: round((red(#ffffff)*299)+(green(#ffffff)*587)+(blue(#ffffff)*114)/1000);
  @if abs($color-brightness) < ($light-color/2) {
    @return white;
  } @else {
    @return $textColor;
  }
}


// colors.css 3.0.0

$aqua: #7FDBFF;
$blue: #0074d9;
$navy: #001F3F;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

$light-gray: #f6f7f9;

/* Applied colors */

// Tray
$trayBackground: #FFFFFF;
$trayBackgroundDarkMode: #1C1C1C;

// Toolbar
$toolbarBackground: #232323;
$toolbarBackgroundDarkMode: #272727;

$textOnHighlightColor: findContrastingTextColor($highlightColor);


/* Spacing */

$basePadding: 15px;
$trayChildSpacing: 20px;

/* Pages module */

$baseSpacing: 90px;