/* Logo */

.Logo {
  align-self: flex-start;
  margin: 12px 15px;
}

.Logo a {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  padding: 0;
  background: white;
  border-radius: 100px;
  overflow: hidden;
}

.Logo img {
  max-width: 100%;
  margin-top: -1px;
  transition: all .3s;
}

.Logo a:hover img {
  opacity: 0.8;
}