/* Map */

.Map iframe {
  height: 100%;
}

.Map {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 50%;
  transition: all .4s cubic-bezier(0.42, 0, 0.58, 1);
  @media screen and (min-width: 1680px) {
    left: 840px;
    width: calc(100% - 840px);
  }
  @include mq(tablet) {
    position: fixed;
    height: calc(80vh - 62px);
    width: 100%;
    left: 0;
    top: 62px;
  }
}

.Map.isFullWidth {
  width: 100%;
  left: 0;
}

.Map .logo {
  width: 72px;
  position: absolute;
  right: 7px;
  bottom: 30px;
  filter: drop-shadow(0px 0px 2px white);
  @include mq(smartphone) {
    display: none;
  }
}

.Map .zoomControl {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  @include mq(tablet) {
    right: auto;
    left: 15px;
  }
}

.Map .hideUnrelatedPins {
  padding: 12px 20px;
  background: white;
  border-radius: 100px;
  display: inline-flex;
  position: absolute;
  top: 15px;
  right: 58px;
  font-size: 14px;
  text-transform: uppercase;
  @include mq(tablet) {
    right: auto;
    top: 14px;
    left: 55px;
  }
  @include mq(smartphone) {
    padding: 9px 14px;
    font-size: 12px;
  }
}
