/* MapPopover */

// Single popover

.MapPopover {
  width: 240px;
}

.MapPopover[class*='mapboxgl-popup-anchor-left'],
.MapPopover[class*='mapboxgl-popup-anchor-right'] {
  width: 270px;
}

// List popover

.MapPopoverList {
  width: 240px;
}

.MapPopoverList[class*='mapboxgl-popup-anchor-left'],
.MapPopoverList[class*='mapboxgl-popup-anchor-right'] {
  width: 270px;
}

.MapPopoverList .scrollIndicator {
  position: absolute;
  right: 14px;
  bottom: 12px;
  color: $textColor;
  z-index: 4;
  display: none;
}

.MapPopoverList .has-many .scrollIndicator {
  display: block;
}

.MapPopoverList ul {
  height: 100%;
  overflow: auto;
  @include unlist;
  max-height: 200px;
}

.MapPopoverList .has-many ul:after {
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  pointer-events: none;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+95&0+0,1+80 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 95%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 95%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */

}

.MapPopoverList .has-many ul {
  padding-bottom: 30px;
}

.MapPopoverList a {
  padding: 0 20px 13px 5px;
  font-size: 12px;
  font-weight: 500;
  color: $black;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MapPopoverList li:first-child a {
  padding-top: 8px;
}

.MapPopoverList a:hover {
  color: $highlightColor;
}

$mapboxPanelColor: white;

// Mapbox overrides

*[class*='Map-module'] {

  :global(.mapboxgl-popup-anchor-top .mapboxgl-popup-tip) {
    border-bottom-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip) {
    border-bottom-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip) {
    border-bottom-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip) {
    border-top-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip) {
    border-top-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip) {
    border-top-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-anchor-left .mapboxgl-popup-tip) {
    border-right-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-anchor-right .mapboxgl-popup-tip) {
    border-left-color: $mapboxPanelColor
  }

  :global(.mapboxgl-popup-close-button) {
    right: -10px;
    background: white;
    padding: 3px;
    top: -10px;
    height: 24px;
    width: 24px;
    border-radius: 1000px;
    z-index: 4;
  }

  :global(.mapboxgl-popup-close-button:hover) {
    color: #888;
    background: white;
  }

  :global(.mapboxgl-popup-content) {
    background: $mapboxPanelColor; //
    padding: 10px; //
    width: 100%; //
    border-radius: 0;
  }

}