/* Toolbar */

$iconColor: rgba(255, 255, 255, 0.45);
$iconColorHover: $highlightColor;
$iconColorCurrent: white;

.Toolbar {
  background: $toolbarBackground;
  display: flex;
  font-size: 1.5em;
  position: relative;
  flex: 1 0 64px;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
  transition:all .2s;
  @include mq(tablet) {
    position: fixed;
    z-index: 5;
    width: 100%;
  }
}

.Toolbar:hover {
  flex: 1 0 76px;
  @include mq(tablet) {
    flex: 1 0 64px;
  }
}

:global(.darkMode) .Toolbar {
  background: $toolbarBackgroundDarkMode;
}

.Toolbar * {
  line-height: 0;
}

.Toolbar ul {
  @include unlist;
  display: flex;
  padding: 5px 0;
  padding-left: 9px; // Bit of extra left padding if there's no logo
  @include mq(small-smartphone) {
    width: calc(100% - 71px);
    justify-content: space-between;
  }
}

.Toolbar *[class*='Logo'] + ul {
  padding-left: 0; // Remove padding if there is a logo
}

.Toolbar ul * {
  display: block;
}

.Toolbar li {
  margin-right: 0;
  @include mq(small-smartphone) {
    margin-right: 0;
  }
}

.Toolbar a {
  line-height: 0;
  position: relative;
  transition: all .2s;
  padding: 15px;
  @include mq(small-smartphone) {
    padding: 15px 12px;
  }
}

.Toolbar a:after {
  content: "";
  display: block !important;
  background: $trayBackground;
  position: absolute;
  width: 1em;
  bottom: -5px;
  transition: all .2s;
  opacity: 0;
  height: 4px;
}

.Toolbar:hover a:after {
  bottom: -17px;
  @include mq(tablet) {
    bottom: -5px;
  }
}

:global(.darkMode) .Toolbar a:after {
  background: $trayBackgroundDarkMode;
}


.Toolbar a[aria-current] {
  cursor: default;
}

.Toolbar a[aria-current]:after {
  opacity: 1;
}

.Toolbar a:before {
  transition: all .2s;
}

_::-webkit-full-page-media, _:future, :root .Toolbar a:before {
    transition: none;
}

.Toolbar li > a > span {
  position: absolute;
  top: 54px;
  width: 100%;
  height: 10px;
  left: 50%;
  transform:translate(-50%, 0);
  opacity:0;
  transition: all .1s;
  display:block;
  @include mq(tablet) {
    display:none;
  }
}

.Toolbar:hover li > a > span {
  transition: all .2s .2s;
  opacity:1;
}

.Toolbar a span span {
  transition: all .2s;
  color: $iconColor;
  @include fontRubik;
  font-size: 11px;
  text-transform: uppercase;
  display:block;
  width: 100%;
  text-align:center;
}

.Toolbar a:hover span span {
  color: $iconColorHover;
}

.Toolbar a[aria-current]:hover span span {
  color: $iconColor;
}




.Toolbar .introButton {
  @include icon('home', 'before', $iconColor);
}

.Toolbar .introButton:hover {
  @include icon('home', 'before', $iconColorHover);
}

.Toolbar .introButton[aria-current] {
  @include icon('home', 'before', $iconColorCurrent);
}

.Toolbar .browseButton {
  @include icon('browse', 'before', $iconColor);
}

.Toolbar .browseButton:hover {
  @include icon('browse', 'before', $iconColorHover);
}

.Toolbar .browseButton[aria-current] {
  @include icon('browse', 'before', $iconColorCurrent);
}

.Toolbar .searchButton {
  @include icon('search', 'before', $iconColor);
}

.Toolbar .searchButton:hover {
  @include icon('search', 'before', $iconColorHover);
}

.Toolbar .searchButton[aria-current] {
  @include icon('search', 'before', $iconColorCurrent);
}

.Toolbar .overlaysButton {
  @include icon('overlays', 'before', $iconColor);
}

.Toolbar .overlaysButton:hover {
  @include icon('overlays', 'before', $iconColorHover);
}

.Toolbar .overlaysButton[aria-current] {
  @include icon('overlays', 'before', $iconColorCurrent);
}

.Toolbar .trailsButton {
  @include icon('trails', 'before', $iconColor);
}

.Toolbar .trailsButton:hover {
  @include icon('trails', 'before', $iconColorHover);
}

.Toolbar .trailsButton[aria-current] {
  @include icon('trails', 'before', $iconColorCurrent);
}

.Toolbar .helpButton {
  @include icon('help', 'before', $iconColor);
}

.Toolbar .helpButton:hover {
  @include icon('help', 'before', $iconColorHover);
}

.Toolbar .helpButton[aria-current] {
  @include icon('help', 'before', $iconColorCurrent);
}

:global(.darkMode) {

  .Toolbar .introButton {
    @include icon('home', 'before', #868484);
  }

  .Toolbar .introButton:hover {
    @include icon('home', 'before', $highlightColor);
  }

  .Toolbar .introButton[aria-current] {
    @include icon('home', 'before', #ffffff);
  }

  .Toolbar .browseButton {
    @include icon('browse', 'before', #868484);
  }

  .Toolbar .browseButton:hover {
    @include icon('browse', 'before', $highlightColor);
  }

  .Toolbar .browseButton[aria-current] {
    @include icon('browse', 'before', #ffffff);
  }

  .Toolbar .searchButton {
    @include icon('search', 'before', #868484);
  }

  .Toolbar .searchButton:hover {
    @include icon('search', 'before', $highlightColor);
  }

  .Toolbar .searchButton[aria-current] {
    @include icon('search', 'before', #ffffff);
  }

  .Toolbar .overlaysButton {
    @include icon('overlays', 'before', #868484);
  }

  .Toolbar .overlaysButton:hover {
    @include icon('overlays', 'before', $highlightColor);
  }

  .Toolbar .overlaysButton[aria-current] {
    @include icon('overlays', 'before', #ffffff);
  }

  .Toolbar .helpButton {
    @include icon('help', 'before', #868484);
  }

  .Toolbar .helpButton:hover {
    @include icon('help', 'before', $highlightColor);
  }

  .Toolbar .helpButton[aria-current] {
    @include icon('help', 'before', #ffffff);
  }
}

.Toolbar .closeTrayButton {
  margin-left: auto;
  background: transparentize(black, 0.7);
  border: 0;
  cursor: pointer;
  @include icon('closeTray', 'before', $highlightColor);
  padding: 18px 20px 0;
  display: flex;
  //align-items: center;
  font-size: 25px;
  transition: all .2s;
  position: relative;
}

.Toolbar .closeTrayButton span {
  display:none;
}

.Toolbar .closeTrayButton:before {
  transition: all .2s;
}

.Toolbar .closeTrayButton:hover {
  @include icon('closeTray', 'before', white);
}